Repository pingidentity/terraform-provider-pingone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @patrickcping, @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

.github/CODEOWNERS:

* @patrickcping
*go.mod @henryrecker-pingidentity
*go.sum @henryrecker-pingidentity
*go.work @henryrecker-pingidentity
*go.work.sum @henryrecker-pingidentity
/.github/ @pingidentity/cloud-solutions-cicd-terraform
/contributing/ @pingidentity/cloud-solutions-cicd-terraform
/docs/ @pingidentity/cloud-solutions-cicd-terraform
/CONTRIBUTING.md @pingidentity/cloud-solutions-cicd-terraform
/LICENSE @pingidentity/cloud-solutions-cicd-terraform
/README.md @pingidentity/cloud-solutions-cicd-terraform
resource_*.go @pingidentity/cloud-solutions-cicd-terraform
data_source_*.go @pingidentity/cloud-solutions-cicd-terraform

Add changelog entry
  .changelog/981.txt
Owners: @patrickcping

Add json schema support to attributes
  docs/resources/authorize_trust_framework_attribute.md
  internal/service/authorize/resource_trust_framework_attribute.go
  internal/service/authorize/resource_trust_framework_attribute_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

make descriptions optional
  docs/resources/authorize_policy_management_policy.md
  docs/resources/authorize_policy_management_rule.md
  docs/resources/authorize_policy_management_statement.md
  docs/resources/authorize_trust_framework_attribute.md
  docs/resources/authorize_trust_framework_condition.md
  docs/resources/authorize_trust_framework_processor.md
  docs/resources/authorize_trust_framework_service.md
  internal/service/authorize/resource_policy_management_policy.go
  internal/service/authorize/resource_policy_management_policy_test.go
  internal/service/authorize/resource_policy_management_rule.go
  internal/service/authorize/resource_policy_management_rule_test.go
  internal/service/authorize/resource_policy_management_statement.go
  internal/service/authorize/resource_policy_management_statement_test.go
  internal/service/authorize/resource_trust_framework_attribute.go
  internal/service/authorize/resource_trust_framework_attribute_test.go
  internal/service/authorize/resource_trust_framework_condition.go
  internal/service/authorize/resource_trust_framework_condition_test.go
  internal/service/authorize/resource_trust_framework_processor.go
  internal/service/authorize/resource_trust_framework_processor_test.go
  internal/service/authorize/resource_trust_framework_service.go
  internal/service/authorize/resource_trust_framework_service_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

make processor field on the processor resource options
  docs/resources/authorize_trust_framework_processor.md
  internal/service/authorize/resource_trust_framework_processor.go
  internal/service/authorize/resource_trust_framework_processor_test.go
  internal/service/authorize/utils_api_retry.go
  internal/service/authorize/utils_editor_model_processor.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

Support new `pingone_authorize_trust_framework_attribute` data source to enable managed entity parents
  .changelog/919.txt
  docs/data-sources/authorize_trust_framework_attribute.md
  examples/data-sources/pingone_authorize_trust_framework_attribute/data-source.tf
  internal/service/authorize/data_source_trust_framework_attribute.go
  internal/service/authorize/data_source_trust_framework_attribute_test.go
  internal/service/authorize/resource_trust_framework_attribute.go
  internal/service/authorize/resource_trust_framework_attribute_test.go
  internal/service/authorize/service.go
  internal/service/authorize/utils_editor_model_managed_entity.go
  internal/service/authorize/utils_editor_model_parent.go
  internal/service/authorize/utils_editor_model_processor.go
  internal/service/authorize/utils_editor_model_repetition_source.go
  internal/service/authorize/utils_editor_model_resolver.go
  internal/service/authorize/utils_editor_model_value_type.go
  templates/data-sources/authorize_trust_framework_attribute.md.tmpl
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Generate resource_population with custom code split
  internal/service/sso/resource_population.go
  internal/service/sso/resource_population_gen.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Regenerate data_source_population
  internal/service/sso/data_source_population_gen.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Rename populations data source file
  internal/service/sso/data_source_populations_gen.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Regenerate data_source_populations
  internal/service/sso/data_source_populations_gen.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Test new user_count attribute
  internal/service/sso/data_source_population_test.go
  internal/service/sso/resource_population_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Add separate password_policy nested attr and deprecate previous attr
  internal/service/sso/resource_population_gen.go
  internal/service/sso/resource_population_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Add new password_policy attr to data source
  internal/service/sso/data_source_population_gen.go
  internal/service/sso/data_source_population_test.go
  internal/service/sso/resource_population_gen.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Generating docs and formatting
  GNUmakefile
  docs/data-sources/population.md
  docs/data-sources/populations.md
  docs/resources/population.md
  internal/service/sso/data_source_population_test.go
  internal/service/sso/resource_population_gen.go
  internal/service/sso/resource_population_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Fix tools target filename
  GNUmakefile
Owners: @patrickcping

draft of root policy singleton
  docs/resources/authorize_policy_management_policy.md
  internal/service/authorize/resource_policy_management_policy.go.pre
  internal/service/authorize/resource_policy_management_policy_test.go
  internal/service/authorize/resource_policy_management_policy_test.go.pre
  internal/service/authorize/utils_editor_model_policy.go
  internal/service/authorize/utils_editor_model_policy_combining_algorithm.go
  internal/service/authorize/utils_editor_model_policy_repetition_settings.go
  templates/resources/authorize_policy_management_policy.md.tmpl
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

restore back policy resource
  docs/resources/authorize_policy_management_policy.md
  internal/service/authorize/resource_policy_management_policy.go
  internal/service/authorize/resource_policy_management_policy.go.pre
  internal/service/authorize/resource_policy_management_policy_test.go
  internal/service/authorize/resource_policy_management_policy_test.go.pre
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

add new policy root resource
  .changelog/919.txt
  docs/resources/authorize_policy_management_policy_root.md
  internal/acctest/service/authorize/policy_management_policy_root.go
  internal/service/authorize/resource_policy_management_policy_root.go
  internal/service/authorize/resource_policy_management_policy_root_test.go
  internal/service/authorize/service.go
  internal/service/authorize/utils_editor_model_policy.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

enhance policies
  docs/resources/authorize_policy_management_policy.md
  docs/resources/authorize_policy_management_policy_root.md
  internal/service/authorize/resource_policy_management_policy.go
  internal/service/authorize/resource_policy_management_policy_root.go
  internal/service/authorize/resource_policy_management_policy_root_test.go
  internal/service/authorize/utils_editor_model_policy.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

update temp module
  go.mod
  go.sum
  go.work.sum
Owners: @henryrecker-pingidentity

lint issues
  internal/service/authorize/resource_policy_management_policy.go
  internal/service/authorize/utils_api_retry.go
  internal/service/authorize/utils_editor_model_condition.go
  internal/service/authorize/utils_editor_model_policy.go
  internal/service/authorize/utils_editor_model_processor.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

change root policy resource name
  .changelog/919.txt
  docs/resources/authorize_policy_management_policy.md
  docs/resources/authorize_policy_management_root_policy.md
  examples/resources/pingone_authorize_policy_management_root_policy/import.sh
  examples/resources/pingone_authorize_policy_management_root_policy/resource.tf
  internal/acctest/service/authorize/policy_management_root_policy.go
  internal/service/authorize/resource_policy_management_root_policy.go
  internal/service/authorize/resource_policy_management_root_policy_test.go
  internal/service/authorize/service.go
  templates/resources/authorize_policy_management_root_policy.md.tmpl
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Fix PingOne Protect policy naming regex validation
  go.work.sum
  internal/service/risk/resource_risk_policy.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

changelog
  .changelog/991.txt
Owners: @patrickcping

Changelog note
  .changelog/984.txt
Owners: @patrickcping

Update go.work.sum
  go.work.sum
Owners: @henryrecker-pingidentity

changelog
  .changelog/985.txt
Owners: @patrickcping

changelog
  .changelog/987.txt
Owners: @patrickcping

changelog
  .changelog/986.txt
Owners: @patrickcping

Handle change to enum
  go.work.sum
  internal/service/base/resource_notification_settings_email.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

Add child rule support to policies
  docs/resources/authorize_policy_management_policy.md
  docs/resources/authorize_policy_management_root_policy.md
  internal/service/authorize/resource_policy_management_policy.go
  internal/service/authorize/resource_policy_management_root_policy.go
  internal/service/authorize/resource_policy_management_root_policy_test.go
  internal/service/authorize/utils_editor_model_policy.go
  internal/service/authorize/utils_editor_model_policy_child.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

fix service validators
  internal/service/authorize/resource_trust_framework_service.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

change replaced dep
  go.mod
  go.sum
  go.work.sum
Owners: @henryrecker-pingidentity

Changelog
  .changelog/987 copy.txt
Owners: @patrickcping

correct validation
  internal/service/authorize/utils_editor_model_policy_child.go
Owners: @patrickcping

corrected changelog
  .changelog/982.txt
Owners: @patrickcping

Update to latest go SDK
  go.mod
  go.sum
Owners: @henryrecker-pingidentity

Supporting microsoft tenant_id, pending sdk fix
  internal/service/sso/resource_identity_provider.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fix `service_endpoints` and `global_options` provider parameters when defined explicitly in the HCL provider configuration
  internal/provider/sdkv2/provider.go
Owners: @patrickcping

changelog
  .changelog/998.txt
Owners: @patrickcping

Update SDK versions
  go.mod
  go.sum
Owners: @henryrecker-pingidentity
