Repository pingidentity/terraform-provider-pingone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @patrickcping, @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

docs
  docs/data-sources/application.md
  docs/resources/application.md
Owners: @pingidentity/cloud-solutions-cicd-terraform

changelog
  .changelog/1009.txt
Owners: @patrickcping

Disable QR code form test
  go.work.sum
  internal/service/base/resource_form_test.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

Add default value to docs
  docs/resources/application.md
  internal/service/sso/resource_application.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

update go.work.sum
  go.work.sum
Owners: @henryrecker-pingidentity

update changelog
  .changelog/1008.txt
Owners: @patrickcping

Add idpSignoff flag to the application object (#1007) (#1008)
  .changelog/1008.txt
  docs/data-sources/application.md
  docs/resources/application.md
  go.mod
  go.sum
  go.work.sum
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
  internal/service/sso/utils_application.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform, @henryrecker-pingidentity

Disable QR code form test (#1011)
  internal/service/base/resource_form_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Update go to 1.24.1 and changelog
  .changelog/1014.txt
  go.mod
  go.work
  go.work.sum
  tools/go.mod
Owners: @patrickcping, @henryrecker-pingidentity

formatting cleanup, merging flaky with non-flaky tests
  .github/workflows/acceptance-test-ff-multi-region.yml
  .github/workflows/acceptance-test-ff-multi-version.yml
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Initial generated applicationv2
  internal/service/sso/resource_applicationv2.go
  internal/service/sso/resource_applicationv2_test.go
  internal/service/sso/service.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

Edits to get basic application apply working for OIDC
  internal/service/sso/resource_applicationv2.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fixes for simple SAML app
  go.work.sum
  internal/service/sso/resource_applicationv2.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

Basic tests without checks
  internal/service/sso/resource_applicationv2_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

wip
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Wait for propagation after env create
  internal/service/base/resource_environment.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Add an initial wait of one second, handle population 403
  internal/service/base/resource_environment.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

bump version for v1.6.0 release
  CHANGELOG.md
  GNUmakefile
  docs/index.md
  examples/provider/provider-env.tf
  examples/provider/provider.tf
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Changelog for v1.6.0
  CHANGELOG.md
Owners: @patrickcping

Update CHANGELOG.md for release date
  CHANGELOG.md
Owners: @patrickcping

add predictor_traffic_anomaly support to pingone_risk_predictor resource
  docs/resources/risk_predictor.md
  examples/resources/pingone_risk_predictor/resource-traffic-anomaly.tf
  internal/service/risk/helpers/bootstrap_predictors.go
  internal/service/risk/resource_risk_predictor.go
  internal/service/risk/resource_risk_predictor_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

add tag to flaky tests
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Correct MFA SOP action example
  docs/resources/sign_on_policy_action.md
  examples/resources/pingone_sign_on_policy_action/resource-mfa.tf
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

changelog
  .changelog/1022.txt
Owners: @patrickcping

remove separate flaky pipelines
  .github/workflows/acceptance-test-flaky-tests-multi-region.yml
  .github/workflows/acceptance-test-flaky-tests-multi-version.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

add changelog, update docs and tests
  .changelog/1017.txt
  docs/resources/risk_predictor.md
  examples/resources/pingone_risk_predictor/resource-traffic-anomaly.tf
  internal/service/risk/resource_risk_predictor.go
  internal/service/risk/resource_risk_predictor_test.go
  templates/resources/risk_predictor.md.tmpl
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

correct resource name in changelog
  .changelog/1017.txt
Owners: @patrickcping

add predictor_traffic_anomaly support to pingone_risk_predictor resource (#1017)
  .changelog/1017.txt
  docs/resources/risk_predictor.md
  examples/resources/pingone_risk_predictor/resource-traffic-anomaly.tf
  internal/service/risk/helpers/bootstrap_predictors.go
  internal/service/risk/resource_risk_predictor.go
  internal/service/risk/resource_risk_predictor_test.go
  templates/resources/risk_predictor.md.tmpl
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Combine Flaky Tests into single pipeline run (#1021)
  .github/workflows/acceptance-test-ff-multi-region.yml
  .github/workflows/acceptance-test-ff-multi-version.yml
  .github/workflows/acceptance-test-flaky-tests-multi-region.yml
  .github/workflows/acceptance-test-flaky-tests-multi-version.yml
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fix pingone_custom_domain_verify early verification failure with `NXDOMAIN`
  .changelog/1026.txt
  internal/service/base/resource_custom_domain_verify.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Fix pingone_custom_domain_verify resource: early verification failure with NXDOMAIN (#1026)
  .changelog/1026.txt
  internal/service/base/resource_custom_domain_verify.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Update and add pingone_notification_settings resource hcl examples, update pingone_notification_settings_email usage note
  .changelog/1027.txt
  docs/resources/notification_settings.md
  docs/resources/notification_settings_email.md
  examples/resources/pingone_notification_settings/resource-custom-twilio.tf
  examples/resources/pingone_notification_settings/resource-ping-smtp.tf
  templates/resources/notification_settings.md.tmpl
  templates/resources/notification_settings_email.md.tmpl
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

fix SMTP capitalization in changelog
  .changelog/1027.txt
Owners: @patrickcping

Fix modifyplan check for null IdP in administrator_security resource
  go.work.sum
  internal/service/sso/resource_administrator_security.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

correct hcl example in the SOP resource document
  docs/resources/sign_on_policy.md
  examples/resources/pingone_sign_on_policy/resource.tf
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

changelog
  .changelog/1022.txt
Owners: @patrickcping

Update pingone_notification_settings and pingone_notification_settings resource documentation (#1027)
  .changelog/1027.txt
  docs/resources/notification_settings.md
  docs/resources/notification_settings_email.md
  examples/resources/pingone_notification_settings/resource-custom-twilio.tf
  examples/resources/pingone_notification_settings/resource-ping-smtp.tf
  templates/resources/notification_settings.md.tmpl
  templates/resources/notification_settings_email.md.tmpl
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Correct MFA SOP action example in documentation (#1022)
  .changelog/1022.txt
  docs/resources/sign_on_policy.md
  docs/resources/sign_on_policy_action.md
  examples/resources/pingone_sign_on_policy/resource.tf
  examples/resources/pingone_sign_on_policy_action/resource-mfa.tf
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Extend tests to cover all three types and to more complete minimal maximal switches
  internal/service/sso/resource_administrator_security_gen_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

changelog
  .changelog/1028.txt
Owners: @patrickcping

.github/CODEOWNERS:

* @patrickcping
*go.mod @henryrecker-pingidentity
*go.sum @henryrecker-pingidentity
*go.work @henryrecker-pingidentity
*go.work.sum @henryrecker-pingidentity
/.github/ @pingidentity/cloud-solutions-cicd-terraform
/contributing/ @pingidentity/cloud-solutions-cicd-terraform
/docs/ @pingidentity/cloud-solutions-cicd-terraform
/CONTRIBUTING.md @pingidentity/cloud-solutions-cicd-terraform
/LICENSE @pingidentity/cloud-solutions-cicd-terraform
/README.md @pingidentity/cloud-solutions-cicd-terraform
resource_*.go @pingidentity/cloud-solutions-cicd-terraform
data_source_*.go @pingidentity/cloud-solutions-cicd-terraform
