Repository pingidentity/terraform-provider-pingone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @patrickcping, @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

.github/CODEOWNERS:

* @patrickcping
*go.mod @henryrecker-pingidentity
*go.sum @henryrecker-pingidentity
*go.work @henryrecker-pingidentity
*go.work.sum @henryrecker-pingidentity
/.github/ @pingidentity/cloud-solutions-cicd-terraform
/contributing/ @pingidentity/cloud-solutions-cicd-terraform
/docs/ @pingidentity/cloud-solutions-cicd-terraform
/CONTRIBUTING.md @pingidentity/cloud-solutions-cicd-terraform
/LICENSE @pingidentity/cloud-solutions-cicd-terraform
/README.md @pingidentity/cloud-solutions-cicd-terraform
resource_*.go @pingidentity/cloud-solutions-cicd-terraform
data_source_*.go @pingidentity/cloud-solutions-cicd-terraform

object updates
  internal/service/sso/data_source_application.go
  internal/service/sso/resource_application.go
  internal/service/sso/utils_application.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

reuse existing schema attribute method for linkedin
  internal/service/sso/resource_identity_provider.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

use new management sdk version, update doc
  docs/resources/identity_provider.md
  go.mod
  go.sum
Owners: @pingidentity/cloud-solutions-cicd-terraform, @henryrecker-pingidentity

update sdk version
  go.mod
  go.sum
Owners: @henryrecker-pingidentity

working saml type
  go.mod
  go.sum
  internal/service/sso/data_source_application.go
  internal/service/sso/resource_application.go
  internal/service/sso/utils_application.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

correct changelog, update schema content
  .changelog/1035.txt
  internal/service/sso/resource_identity_provider.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

generate doc
  docs/resources/identity_provider.md
Owners: @pingidentity/cloud-solutions-cicd-terraform

pingone_identity_provider resource: support LinkedIn OIDC provider type (#1035)
  .changelog/1035.txt
  docs/data-sources/user.md
  docs/resources/identity_provider.md
  docs/resources/user.md
  go.mod
  go.sum
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform, @henryrecker-pingidentity

update regex to account for 1 or 2 code returns
  internal/service/base/resource_environment_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fix error message typo in pingone_language
  internal/service/base/resource_language.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

shorter regex for readability - no need to match the entire line
  internal/service/base/resource_environment_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

changelog
  .changelog/1036.txt
Owners: @patrickcping

resource property changes, updated test
  examples/data-sources/pingone_application/data-source.tf
  examples/resources/pingone_application/resource-application-catalog.tf
  internal/service/sso/data_source_application.go
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
  internal/service/sso/utils_application.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

fix inconsistent result after apply when supplying description for RADIUS and LDAP types, remove unnecessary radius_davinci_policy_id validation and customtype
  .changelog/1038.txt
  docs/resources/gateway.md
  internal/service/base/resource_gateway.go
  internal/service/base/resource_gateway_schema_upgrade_0_to_1.go
  internal/service/base/resource_gateway_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Fix error message typo in pingone_language (#1036)
  .changelog/1036.txt
  internal/service/base/resource_language.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Update TestAccEnvironment_NonCompatibleRegion regex (#1037)
  internal/service/base/resource_environment_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

use davinci resource id customtype, update changelog
  .changelog/1038.txt
  internal/service/base/resource_gateway.go
  internal/service/base/resource_gateway_schema_upgrade_0_to_1.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

generate doc
  docs/resources/gateway.md
Owners: @pingidentity/cloud-solutions-cicd-terraform

correct changelog number file
  .changelog/1040.txt
Owners: @patrickcping

improve changelog descriptions, update test to validate using regex-based value type validation
  .changelog/1040.txt
  internal/service/base/resource_gateway_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

update radius_davinci_policy_id description
  docs/resources/gateway.md
  internal/service/base/resource_gateway.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

pingone_gateway resource bug fixes (#1040)
  .changelog/1040.txt
  docs/resources/gateway.md
  internal/service/base/resource_gateway.go
  internal/service/base/resource_gateway_schema_upgrade_0_to_1.go
  internal/service/base/resource_gateway_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

remove flaky flag from fixed test
  internal/service/base/resource_environment_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

correct radius_davinci_policy_id type in pingone_gateway data source
  .changelog/1042.txt
  docs/data-sources/gateway.md
  internal/service/base/data_source_gateway.go
  internal/service/base/data_source_gateway_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

correct radius_davinci_policy_id type in pingone_gateway data source (#1042)
  .changelog/1042.txt
  docs/data-sources/gateway.md
  internal/service/base/data_source_gateway.go
  internal/service/base/data_source_gateway_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform
