Repository pingidentity/terraform-provider-pingone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @patrickcping, @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

Update test and fix attr name
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Changelog, docs, devcheck
  .changelog/999.txt
  GNUmakefile
  docs/resources/identity_provider.md
  internal/service/sso/resource_identity_provider_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Support microsoft IdP tenant_id field in the pingone_identity_provider resource (#999)
  .changelog/999.txt
  GNUmakefile
  docs/resources/identity_provider.md
  go.mod
  go.sum
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform, @henryrecker-pingidentity

Initial generated resource and test
  internal/service/sso/resource_administrator_security_gen.go
  internal/service/sso/resource_administrator_security_gen_test.go
  internal/utils/pointer.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

Rename provider and update valid mfa values
  go.work.sum
  internal/service/sso/resource_administrator_security_gen.go
  internal/service/sso/resource_administrator_security_gen_test.go
  internal/service/sso/service.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

changelog
  .changelog/997.txt
Owners: @patrickcping

changelog
  .changelog/996.txt
Owners: @patrickcping

updates for review comments
  internal/provider/sdkv2/provider.go
Owners: @patrickcping

Fix `service_endpoints` and `global_options` provider parameters when defined explicitly in the HCL provider configuration (#998)
  .changelog/998.txt
  internal/provider/sdkv2/provider.go
Owners: @patrickcping

Fix PingOne Protect policy naming regex validation to allow numbers (#991)
  .changelog/991.txt
  go.work.sum
  internal/service/risk/resource_risk_policy.go
Owners: @patrickcping, @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

changelog
  .changelog/994.txt
Owners: @patrickcping

bump version for v1.5.0 release
  CHANGELOG.md
  GNUmakefile
  docs/index.md
  examples/provider/provider-env.tf
  examples/provider/provider.tf
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Changelog for 1.5.0
  CHANGELOG.md
Owners: @patrickcping

Update CHANGELOG.md
  CHANGELOG.md
Owners: @patrickcping

blacklist and make targets
  GNUmakefile
  testacc_failing.txt
Owners: @patrickcping

changelog
  .changelog/1003.txt
Owners: @patrickcping

Rebuild resource with fixed API
  internal/service/sso/resource_administrator_security.go
  internal/service/sso/resource_administrator_security_gen.go
  internal/service/sso/resource_administrator_security_gen_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Update attr description, devcheck
  docs/resources/administrator_security.md
  internal/service/sso/resource_administrator_security_gen.go
  internal/service/sso/resource_administrator_security_gen_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Add examples and docs
  docs/resources/administrator_security.md
  examples/resources/pingone_administrator_security/import.sh
  examples/resources/pingone_administrator_security/resource.tf
  templates/resources/administrator_security.md.tmpl
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

administrator_security data source
  internal/service/sso/data_source_administrator_security_gen.go
  internal/service/sso/data_source_administrator_security_gen_test.go
  internal/service/sso/resource_administrator_security_gen.go
  internal/service/sso/service.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

Add example and docs for data source
  docs/data-sources/administrator_security.md
  examples/data-sources/pingone_administrator_security/data-source.tf
  internal/service/sso/data_source_administrator_security_gen_test.go
  templates/data-sources/administrator_security.md.tmpl
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

Changelog
  .changelog/1004.txt
Owners: @patrickcping

Remove unused utils method
  internal/utils/pointer.go
Owners: @patrickcping

Update to released SDK modules
  .changelog/1004.txt
  go.mod
  go.sum
  go.work.sum
Owners: @patrickcping, @henryrecker-pingidentity

test one
  .github/workflows/acceptance-test-flaky-tests.yml
  internal/acctest/acctest.go
  internal/service/base/resource_agreement_enable_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

add check to all flaky tests
  .github/workflows/acceptance-test-flaky-tests.yml
  GNUmakefile
  internal/service/authorize/resource_api_service_deployment_test.go
  internal/service/base/resource_agreement_enable_test.go
  internal/service/base/resource_agreement_localization_enable_test.go
  internal/service/base/resource_environment_test.go
  internal/service/base/resource_key_rotation_policy_test.go
  internal/service/base/resource_language_update_test.go
  internal/service/base/resource_phone_delivery_settings_test.go
  internal/service/mfa/resource_mfa_settings_test.go
  internal/service/risk/resource_risk_predictor_test.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_custom_role_test.go
  testacc_failing.txt
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

initial PR feedback fixes
  .github/workflows/acceptance-test-flaky-tests.yml
  internal/acctest/acctest.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

remove Davinci FF
  .github/workflows/acceptance-test-flaky-tests.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

rename pipeline
  .github/workflows/acceptance-test-flaky-tests.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

pingone_administrator_security resource and data source (#1004)
  .changelog/1004.txt
  docs/data-sources/administrator_security.md
  docs/resources/administrator_security.md
  examples/data-sources/pingone_administrator_security/data-source.tf
  examples/resources/pingone_administrator_security/import.sh
  examples/resources/pingone_administrator_security/resource.tf
  go.mod
  go.sum
  go.work.sum
  internal/service/sso/data_source_administrator_security_gen.go
  internal/service/sso/data_source_administrator_security_gen_test.go
  internal/service/sso/resource_administrator_security.go
  internal/service/sso/resource_administrator_security_gen.go
  internal/service/sso/resource_administrator_security_gen_test.go
  internal/service/sso/service.go
  templates/data-sources/administrator_security.md.tmpl
  templates/resources/administrator_security.md.tmpl
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform, @henryrecker-pingidentity

add multi-version flaky tests pipeline
  .github/workflows/acceptance-test-flaky-tests-multi-region.yml
  .github/workflows/acceptance-test-flaky-tests-multi-version.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

add env vars for each region
  .github/workflows/acceptance-test-flaky-tests-multi-region.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

move ENV block to proper section in multi-region-flaky
  .github/workflows/acceptance-test-flaky-tests-multi-region.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

PDI-2175 Separate transient test errors (#1005)
  .github/workflows/acceptance-test-flaky-tests-multi-region.yml
  .github/workflows/acceptance-test-flaky-tests-multi-version.yml
  GNUmakefile
  internal/acctest/acctest.go
  internal/service/authorize/resource_api_service_deployment_test.go
  internal/service/base/resource_agreement_enable_test.go
  internal/service/base/resource_agreement_localization_enable_test.go
  internal/service/base/resource_environment_test.go
  internal/service/base/resource_key_rotation_policy_test.go
  internal/service/base/resource_language_update_test.go
  internal/service/base/resource_phone_delivery_settings_test.go
  internal/service/mfa/resource_mfa_settings_test.go
  internal/service/risk/resource_risk_predictor_test.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_custom_role_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

Add idpSignoff to application object
  go.mod
  go.sum
  go.work.sum
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application.go
  internal/service/sso/utils_application.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

Add idpSignoff flag to the application object (#1007)
  go.mod
  go.sum
  go.work.sum
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application.go
  internal/service/sso/utils_application.go
Owners: @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

Add testing
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

set default field value
  internal/service/sso/resource_application.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

changelog
  .changelog/1008.txt
Owners: @patrickcping

lint fixes
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

.github/CODEOWNERS:

* @patrickcping
*go.mod @henryrecker-pingidentity
*go.sum @henryrecker-pingidentity
*go.work @henryrecker-pingidentity
*go.work.sum @henryrecker-pingidentity
/.github/ @pingidentity/cloud-solutions-cicd-terraform
/contributing/ @pingidentity/cloud-solutions-cicd-terraform
/docs/ @pingidentity/cloud-solutions-cicd-terraform
/CONTRIBUTING.md @pingidentity/cloud-solutions-cicd-terraform
/LICENSE @pingidentity/cloud-solutions-cicd-terraform
/README.md @pingidentity/cloud-solutions-cicd-terraform
resource_*.go @pingidentity/cloud-solutions-cicd-terraform
data_source_*.go @pingidentity/cloud-solutions-cicd-terraform
