Repository pingidentity/terraform-provider-pingone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @patrickcping, @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

Format test code
  internal/service/sso/resource_administrator_security_gen_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fix pingone_admin_security resource validation for identity_provider (#1028)
  .changelog/1028.txt
  go.work.sum
  internal/service/sso/resource_administrator_security.go
  internal/service/sso/resource_administrator_security_gen_test.go
Owners: @patrickcping, @henryrecker-pingidentity, @pingidentity/cloud-solutions-cicd-terraform

Add intentionally failing webhook
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Test webhook
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Add missing runs-on
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Different failure check
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fix usage of secret
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Run pipeline
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Similar pipeline structure to test pipeline
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fail on second step
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Test fail in third step
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Test condition on github event
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Try single quotes
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Only run on scheduled pipeline
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Sanity check
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Test removing location param
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Failure checks for real scheduled hooks
  .github/workflows/acceptance-test-ff-multi-region.yml
  .github/workflows/acceptance-test-ff-multi-version.yml
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gosec-scan.yml
  .github/workflows/test-slack-webhook.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Call notification webhook on workflow failures (#1029)
  .github/workflows/acceptance-test-ff-multi-region.yml
  .github/workflows/acceptance-test-ff-multi-version.yml
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gosec-scan.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fix needs in multi region workflow onfailure
  .github/workflows/acceptance-test-ff-multi-region.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Fix needs in multi region workflow onfailure (#1030)
  .github/workflows/acceptance-test-ff-multi-region.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Script to check for unexpected failures in flaky pipeline
  scripts/checkForUnexpectedFailures.py
Owners: @patrickcping

Test new script in multi version pipeline
  .github/workflows/acceptance-test-multi-version.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Allow test pipeline to run
  .github/workflows/acceptance-test-multi-version.yml
Owners: @pingidentity/cloud-solutions-cicd-terraform

Remove unneeded prints from script
  scripts/checkForUnexpectedFailures.py
Owners: @patrickcping

Print test error too when not found
  scripts/checkForUnexpectedFailures.py
Owners: @patrickcping

Require replacement for digital wallet app id
  internal/service/credentials/resource_digital_wallet_application.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

changelog
  .changelog/1031.txt
Owners: @patrickcping

Add testing for credential issuance rule
  internal/acctest/service/credentials/credential_issuance_rule.go
  internal/service/credentials/resource_credential_issuance_rule_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Remove pingone_password_policy default values for fields in min_characters object
  .changelog/1034.txt
  docs/resources/password_policy.md
  go.work.sum
  internal/service/sso/resource_password_policy.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform, @henryrecker-pingidentity

Use common ID attribute method for application_id
  internal/service/credentials/resource_digital_wallet_application.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

Generate docs
  docs/resources/digital_wallet_application.md
  go.work.sum
Owners: @pingidentity/cloud-solutions-cicd-terraform, @henryrecker-pingidentity

Require replacement for application_id attribute in pingone_digital_wallet_application resource (#1031)
  .changelog/1031.txt
  docs/resources/digital_wallet_application.md
  go.work.sum
  internal/acctest/service/credentials/credential_issuance_rule.go
  internal/service/credentials/resource_credential_issuance_rule_test.go
  internal/service/credentials/resource_digital_wallet_application.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform, @henryrecker-pingidentity

bump version to 1.7.0 for release
  CHANGELOG.md
  GNUmakefile
  docs/index.md
  examples/provider/provider-env.tf
  examples/provider/provider.tf
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

generate changelog
  CHANGELOG.md
Owners: @patrickcping

Allow 0 to disable character-type requirements in min_characters config object
  docs/resources/password_policy.md
  examples/resources/pingone_password_policy/resource.tf
  internal/service/sso/resource_password_policy.go
  internal/service/sso/resource_password_policy_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform, @patrickcping

update changelog
  .changelog/1034.txt
Owners: @patrickcping

Allow pingone_password_policy min_characters to be disabled (#1034)
  .changelog/1034.txt
  docs/resources/password_policy.md
  examples/resources/pingone_password_policy/resource.tf
  internal/service/sso/resource_password_policy.go
  internal/service/sso/resource_password_policy_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

Support new LINKEDIN_OIDC social identity type in pingone_identity_provider resource, add deprecation for existing LINKEDIN social identity type
  .changelog/1035.txt
  docs/resources/identity_provider.md
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
Owners: @patrickcping, @pingidentity/cloud-solutions-cicd-terraform

initial commit
  internal/service/sso/data_source_application.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

support linkedin_oidc provider type, deprecate linkedin provider type
  docs/data-sources/user.md
  docs/resources/user.md
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
Owners: @pingidentity/cloud-solutions-cicd-terraform

.github/CODEOWNERS:

* @patrickcping
*go.mod @henryrecker-pingidentity
*go.sum @henryrecker-pingidentity
*go.work @henryrecker-pingidentity
*go.work.sum @henryrecker-pingidentity
/.github/ @pingidentity/cloud-solutions-cicd-terraform
/contributing/ @pingidentity/cloud-solutions-cicd-terraform
/docs/ @pingidentity/cloud-solutions-cicd-terraform
/CONTRIBUTING.md @pingidentity/cloud-solutions-cicd-terraform
/LICENSE @pingidentity/cloud-solutions-cicd-terraform
/README.md @pingidentity/cloud-solutions-cicd-terraform
resource_*.go @pingidentity/cloud-solutions-cicd-terraform
data_source_*.go @pingidentity/cloud-solutions-cicd-terraform
