Repository pingidentity/terraform-provider-pingone, pull requests merged in 2023-10, with the labels that each got.

#579 430-Added support for images in a verifiable credential configuration.
  .changelog/579.txt
  docs/data-sources/credential_type.md
  docs/resources/credential_type.md
  examples/resources/pingone_credential_type/resource.tf
  internal/service/credentials/data_source_credential_type.go
  internal/service/credentials/data_source_credential_type_test.go
  internal/service/credentials/resource_credential_type.go
  internal/service/credentials/resource_credential_type_test.go
Labels: type/enhancement, service/credentials, size/small

#586 `resource/pingone_gateway`: Fixed incorrect unchanged plan when updating the `user_type` parameter.
  .changelog/586.txt
  internal/service/base/resource_gateway.go
  internal/service/base/resource_gateway_test.go
Labels: type/bug, service/sso

#583 Add support for Pushed Authorization Requests on OIDC Applications
  .changelog/583.txt
  docs/resources/application.md
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
Labels: type/enhancement, service/sso, size/small

#587 Environment removal drift handling
  internal/service/mfa/resource_mfa_settings.go
  internal/service/sso/resource_schema_attribute.go
Labels: type/bug, service/sso, service/mfa

#588 bump modules 2023-10-16
  .changelog/588.txt
  go.mod
  go.sum
Labels: dependencies, go

#585 Fixed missing `resource_id` on import
  .changelog/585.txt
  internal/service/sso/resource_resource_scope_openid.go
  internal/service/sso/resource_resource_scope_pingone_api.go
Labels: type/bug, service/sso

#589 Add back the missing "no feature flag" test skips
  internal/service/base/data_source_certificate_export_test.go
  internal/service/base/data_source_certificate_signing_request_test.go
  internal/service/base/data_source_certificate_test.go
  internal/service/base/data_source_organization_test.go
  internal/service/base/data_source_trusted_email_domain_test.go
  internal/service/base/resource_certificate_signing_response_test.go
  internal/service/base/resource_certificate_test.go
  internal/service/base/resource_custom_domain_ssl_test.go
  internal/service/base/resource_image_test.go
  internal/service/base/resource_key_rotation_policy_test.go
  internal/service/base/resource_key_test.go
  internal/service/base/resource_phone_delivery_settings_test.go
  internal/service/base/resource_role_assignment_user_test.go
  internal/service/base/resource_trusted_email_address_test.go
  internal/service/mfa/resource_application_push_credential_test.go
  internal/service/mfa/resource_mfa_policy_test.go
  internal/service/sso/resource_application_test.go
  internal/service/sso/resource_sign_on_policy_action_test.go
Labels: service/base, service/sso, service/mfa, type/housekeeping

#590 Adjust code to no longer use deprecated API parameter `composition`
  .changelog/590.txt
  internal/service/risk/resource_risk_predictor.go
Labels: service/protect

#591 Fix panic on non-http errors
  internal/framework/sdk.go
Labels: type/bug

#592 `data-source/pingone_role`: Migrate to plugin framework
  .changelog/592.txt
  docs/data-sources/role.md
  internal/provider/sdkv2/provider.go
  internal/service/base/data_source_role.go
  internal/service/base/data_source_role_test.go
  internal/service/base/service.go
Labels: service/base, type/housekeeping

#593 Align code to standards
  .changelog/593.txt
  docs/data-sources/digital_wallet_applications.md
  docs/data-sources/trusted_email_domain.md
  internal/framework/resource.go
  internal/service/base/data_source_environments.go
  internal/service/base/data_source_organization.go
  internal/service/base/data_source_phone_delivery_settings_list.go
  internal/service/base/data_source_trusted_email_domain.go
  internal/service/base/resource_notification_policy.go
  internal/service/base/resource_trusted_email_address.go
  internal/service/credentials/data_source_credential_types.go
  internal/service/credentials/data_source_digital_wallet_applications.go
  internal/service/mfa/data_source_mfa_policies.go
  internal/service/risk/resource_risk_policy.go
  internal/service/risk/resource_risk_predictor.go
  internal/service/sso/data_source_flow_policies.go
  internal/service/sso/data_source_populations.go
  internal/service/sso/data_source_users.go
  internal/service/verify/data_source_verify_policies.go
  internal/service/verify/data_source_verify_voice_phrase_contents.go
  internal/service/verify/resource_verify_policy.go
Labels: documentation, service/base, service/sso, service/mfa, service/verify, service/credentials, type/housekeeping

#597 `pingone_verify_voice_phrase_content`: Fix constraint violation error in voice phrase replacement test.
  internal/service/verify/resource_verify_voice_phrase_content_test.go
Labels: service/verify, type/housekeeping, size/small

#485 `pingone_environment`: Deprecate the default population configuration
  .changelog/485.txt
  docs/resources/environment.md
  examples/resources/pingone_environment/import-definepopulation.sh
  internal/acctest/acctest.go
  internal/service/base/resource_environment.go
  internal/service/base/resource_environment_test.go
  templates/resources/environment.md.tmpl
Labels: type/enhancement, service/base, breaking change

#603 Remove deprecated default population params from examples and tests
  .changelog/603.txt
  docs/resources/application_role_assignment.md
  docs/resources/gateway.md
  docs/resources/gateway_role_assignment.md
  docs/resources/population.md
  docs/resources/role_assignment_user.md
  examples/resources/pingone_application_role_assignment/resource-population.tf
  examples/resources/pingone_gateway/resource-ldap.tf
  examples/resources/pingone_gateway_role_assignment/resource-population.tf
  examples/resources/pingone_population/resource.tf
  examples/resources/pingone_role_assignment_user/resource-population.tf
  internal/acctest/acctest.go
  internal/service/base/data_source_environment_test.go
  internal/service/base/data_source_environments_test.go
  internal/service/base/resource_gateway_role_assignment_test.go
  internal/service/credentials/data_source_credential_issuer_profile_test.go
Labels: documentation, service/base, service/sso, service/credentials, type/housekeeping

#598 `data-source/pingone_application`: implemented data source.
  .changelog/598.txt
  docs/data-sources/application.md
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/service.go
  templates/data-sources/application.md.tmpl
Labels: type/enhancement, service/sso, size/large
