Repository pingidentity/terraform-provider-pingone, pull requests merged in 2023-08, with the labels that each got.

#504 Bump go modules 2023-08-08
  .changelog/504.txt
  docs/resources/risk_predictor.md
  go.mod
  go.sum
Labels: dependencies, go

#496 Confirm support for new DaVinci roles
  .changelog/496.txt
  docs/data-sources/role.md
  examples/data-sources/pingone_role/data-source.tf
  internal/service/base/data_source_role_test.go
  internal/service/base/resource_role_assignment_user_test.go
Labels: documentation, service/base

#501 Add removal drift tests to resources
  .changelog/501.txt
  internal/service/authorize/resource_decision_endpoint_test.go
  internal/service/base/resource_agreement_localization_test.go
  internal/service/base/resource_agreement_test.go
  internal/service/base/resource_branding_theme_test.go
  internal/service/base/resource_certificate_test.go
  internal/service/base/resource_custom_domain_test.go
  internal/service/base/resource_environment_test.go
  internal/service/base/resource_gateway_credential_test.go
  internal/service/base/resource_gateway_role_assignment_test.go
  internal/service/base/resource_gateway_test.go
  internal/service/base/resource_image_test.go
  internal/service/base/resource_key_rotation_policy_test.go
  internal/service/base/resource_key_test.go
  internal/service/base/resource_language_test.go
  internal/service/base/resource_notification_policy_test.go
  internal/service/base/resource_notification_settings_test.go
  internal/service/base/resource_notification_template_content_test.go
  internal/service/base/resource_phone_delivery_settings_test.go
  internal/service/base/resource_role_assignment_user_test.go
  internal/service/base/resource_trusted_email_address_test.go
  internal/service/base/resource_trusted_email_domain_test.go
  internal/service/base/resource_webhook_test.go
  internal/service/credentials/data_source_credential_issuance_rule_test.go
  internal/service/credentials/resource_credential_issuance_rule_test.go
  internal/service/credentials/resource_credential_type_test.go
  internal/service/credentials/resource_digital_wallet_application_test.go
  internal/service/mfa/resource_application_push_credential_test.go
  internal/service/mfa/resource_fido2_policy_test.go
  internal/service/mfa/resource_mfa_settings_test.go
  internal/service/risk/resource_risk_policy_test.go
  internal/service/risk/resource_risk_predictor_test.go
  internal/service/sso/resource_application_attribute_mapping_test.go
  internal/service/sso/resource_application_flow_policy_assignment_test.go
  internal/service/sso/resource_application_resource_grant_test.go
  internal/service/sso/resource_application_role_assignment_test.go
  internal/service/sso/resource_application_sign_on_policy_assignment_test.go
  internal/service/sso/resource_application_test.go
  internal/service/sso/resource_group_nesting_test.go
  internal/service/sso/resource_group_test.go
  internal/service/sso/resource_identity_provider_attribute_test.go
  internal/service/sso/resource_identity_provider_test.go
  internal/service/sso/resource_password_policy_test.go
  internal/service/sso/resource_population_test.go
  internal/service/sso/resource_resource.go
  internal/service/sso/resource_resource_attribute_test.go
  internal/service/sso/resource_resource_scope_openid_test.go
  internal/service/sso/resource_resource_scope_pingone_api_test.go
  internal/service/sso/resource_resource_scope_test.go
  internal/service/sso/resource_resource_test.go
  internal/service/sso/resource_schema_attribute_test.go
  internal/service/sso/resource_sign_on_policy_action_test.go
  internal/service/sso/resource_sign_on_policy_test.go
  internal/service/sso/resource_user_test.go
  internal/service/verify/resource_verify_policy_test.go
Labels: service/base, service/protect, service/authorize, service/sso, service/mfa, service/verify, service/credentials, type/housekeeping

#506 Migrate custom domain resources to plugin framework
  .changelog/506.txt
  docs/resources/custom_domain.md
  docs/resources/custom_domain_ssl.md
  docs/resources/custom_domain_verify.md
  internal/provider/sdkv2/provider.go
  internal/service/base/resource_custom_domain.go
  internal/service/base/resource_custom_domain_ssl.go
  internal/service/base/resource_custom_domain_test.go
  internal/service/base/resource_custom_domain_verify.go
  internal/service/base/service.go
  internal/verify/validate.go
Labels: service/base, type/housekeeping

#508 `resource/pingone_trusted_email_domain`: Migrated to plugin framework
  .changelog/508.txt
  docs/resources/trusted_email_domain.md
  internal/provider/sdkv2/provider.go
  internal/service/base/resource_trusted_email_domain.go
  internal/service/base/service.go
Labels: service/base, type/housekeeping

#510 Adjust custom domain SSL replace plan descriptions
  docs/resources/custom_domain_ssl.md
  internal/service/base/resource_custom_domain_ssl.go
Labels: documentation, type/housekeeping

#515 Bump go modules 2023-08-15
  .changelog/515.txt
  go.mod
  go.sum
  internal/service/base/resource_webhook.go
Labels: type/bug, service/base, service/credentials, dependencies, go

#505 `resource/pingone_webhook`: Migrated to plugin framework.
  .changelog/505.txt
  docs/resources/webhook.md
  internal/provider/sdkv2/provider.go
  internal/service/base/resource_webhook.go
  internal/service/base/service.go
Labels: service/base, type/housekeeping

#467 Expand the user schema for the `pingone_user` resource and data source
  .changelog/467.txt
  docs/data-sources/user.md
  docs/resources/user.md
  internal/service/sso/data_source_user.go
  internal/service/sso/data_source_user_test.go
  internal/service/sso/resource_user.go
  internal/service/sso/resource_user_test.go
  internal/verify/validate.go
  templates/resources/user.md.tmpl
Labels: type/enhancement, service/sso

#524 Bump go modules 2023-08-23
  .changelog/524.txt
  go.mod
  go.sum
Labels: dependencies, go

#518 `credential_type`: Add support for `revoke_on_delete` option and fix documentation examples.
  .changelog/518.txt
  docs/data-sources/credential_type.md
  docs/resources/credential_type.md
  examples/resources/pingone_credential_type/resource.tf
  internal/acctest/test_assets/image/credential_background.png
  internal/acctest/test_assets/image/credential_background_base64.png
  internal/acctest/test_assets/image/credential_logo.png
  internal/acctest/test_assets/image/credential_logo_base64.png
  internal/framework/schemavalidator/is_required_if_regex_matches_path_value.go
  internal/framework/schemavalidator/regex_matches_path_value.go
  internal/service/credentials/data_source_credential_issuance_rule_test.go
  internal/service/credentials/data_source_credential_type.go
  internal/service/credentials/data_source_credential_type_test.go
  internal/service/credentials/resource_credential_issuer_profile.go
  internal/service/credentials/resource_credential_issuer_profile_test.go
  internal/service/credentials/resource_credential_type.go
  internal/service/credentials/resource_credential_type_test.go
Labels: documentation, type/enhancement, service/credentials, size/medium

#525 `resource/pingone_sign_on_policy_action`: Fix potential slice out of bounds issues
  .changelog/525.txt
  internal/service/sso/resource_sign_on_policy_action.go
Labels: service/sso, type/housekeeping

#535 Fixed "Incompatible environment region for the organization tenant" error when the `region` parameter is defaulted from the client connection
  .changelog/535.txt
  internal/service/base/resource_environment.go
Labels: type/bug, service/base
