Repository pingidentity/terraform-provider-pingone, pull requests merged in 2023-05, with the labels that each got.

#358 Signature algorithms `SHA224withRSA` and `SHA224withECDSA` removed as they are no longer supported by the platform (P14C-50332)
  .changelog/358.txt
  docs/resources/application.md
  docs/resources/key.md
  internal/service/base/resource_key.go
  internal/service/base/resource_key_test.go
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
Labels: type/enhancement, service/base, service/sso, type/housekeeping, breaking change

#360 Update `pingone_flow_policy_assignment` example for multiple DV flow policies
  .changelog/360.txt
  docs/resources/application_flow_policy_assignment.md
  examples/resources/pingone_application_flow_policy_assignment/resource.tf
Labels: documentation, service/sso

#361 Bump PingOne SDK dependency versions 202305
  .changelog/361.txt
  go.mod
  go.sum
Labels: dependencies, go

#363 Deprecate `oidc_options.bundle_id` and `oidc_options.package_name`
  .changelog/363.txt
  docs/resources/application.md
  internal/service/sso/resource_application.go
Labels: type/enhancement, service/sso

#350 Support Risk Predictors
  .changelog/350.txt
  .github/workflows/acceptance-test-ff-multi-region.yml
  .github/workflows/acceptance-test-multi-region.yml
  docs/resources/risk_predictor.md
  examples/resources/pingone_risk_predictor/import.sh
  examples/resources/pingone_risk_predictor/resource-anonymous-network.tf
  examples/resources/pingone_risk_predictor/resource-composite.tf
  examples/resources/pingone_risk_predictor/resource-custom.tf
  examples/resources/pingone_risk_predictor/resource-geovelocity.tf
  examples/resources/pingone_risk_predictor/resource-ip-reputation.tf
  examples/resources/pingone_risk_predictor/resource-new-device.tf
  examples/resources/pingone_risk_predictor/resource-user-location.tf
  examples/resources/pingone_risk_predictor/resource-user-risk-behavior.tf
  examples/resources/pingone_risk_predictor/resource-velocity.tf
  go.mod
  internal/acctest/acctest.go
  internal/framework/resource.go
  internal/framework/schema_common.go
  internal/framework/schema_common_test.go
  internal/framework/schema_description.go
  internal/framework/stringdefaultinternal/static_value_unknownable.go
  internal/framework/stringvalidator/parseable_json.go
  internal/provider/framework/provider.go
  internal/sdk/retry.go
  internal/service/risk/helpers/bootstrap_predictors.go
  internal/service/risk/helpers/composite_condition.go
  internal/service/risk/resource_risk_predictor.go
  internal/service/risk/resource_risk_predictor_test.go
  internal/service/risk/service.go
  internal/utils/enum.go
  internal/utils/json.go
  internal/verify/validate.go
  templates/resources/risk_predictor.md.tmpl
Labels: type/enhancement, service/risk

#365 `pingone_application`: Fix unexpected replacement plan when specifying a mobile native application without configuring deprecated attributes `oidc_options.bundle_id` or `oidc_options.package_name`.
  .changelog/365.txt
  docs/resources/application.md
  examples/resources/pingone_application/resource-native-mobile.tf
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
Labels: type/bug, documentation, service/sso

#367 Fix `pingone_risk_predictor` schema issues for Terraform version less than 1.4
  docs/resources/risk_predictor.md
  internal/service/risk/resource_risk_predictor.go
Labels: type/bug, service/risk

#372 Remove deprecated attributes from examples
  .changelog/372.txt
  docs/resources/mfa_application_push_credential.md
  docs/resources/mfa_policy.md
  examples/resources/pingone_mfa_application_push_credential/resource.tf
  examples/resources/pingone_mfa_policy/resource-mobile-authenticator.tf
Labels: documentation, service/mfa

#373 Remove deprecated attributes from tests
  internal/service/mfa/resource_application_push_credential_test.go
  internal/service/mfa/resource_mfa_policy_test.go
Labels: service/mfa, type/housekeeping

#374 Migrate Branding resources to plugin framework
  .changelog/374.txt
  docs/resources/branding_settings.md
  docs/resources/branding_theme.md
  examples/resources/pingone_branding_theme/resource.tf
  internal/provider/sdkv2/provider.go
  internal/service/base/resource_branding_settings.go
  internal/service/base/resource_branding_theme.go
  internal/service/base/resource_branding_theme_test.go
  internal/service/base/service.go
  internal/verify/validate.go
Labels: service/base, type/housekeeping

#375 Support the ability to set a branding theme as an environment default
  .changelog/375.txt
  docs/resources/branding_theme_default.md
  examples/resources/pingone_branding_theme_default/import.sh
  examples/resources/pingone_branding_theme_default/resource.tf
  internal/service/base/resource_branding_theme_default.go
  internal/service/base/resource_branding_theme_default_test.go
  internal/service/base/service.go
  templates/resources/branding_theme_default.md.tmpl
Labels: type/enhancement, service/base

#378 `resource/pingone_risk_predictor`: Corrected custom map type documentation example.
  .changelog/378.txt
  docs/resources/risk_predictor.md
  examples/resources/pingone_risk_predictor/resource-custom.tf
Labels: documentation, service/risk

#376 Convert schema descriptions to new common framework
  internal/framework/schema_attribute_description.go
  internal/framework/schema_common.go
  internal/framework/schema_description.go
  internal/service/base/data_source_agreement.go
  internal/service/base/data_source_agreement_localization.go
  internal/service/base/data_source_environment.go
  internal/service/base/data_source_environments.go
  internal/service/base/data_source_organization.go
  internal/service/base/data_source_trusted_email_domain.go
  internal/service/base/resource_agreement.go
  internal/service/base/resource_agreement_enable.go
  internal/service/base/resource_agreement_localization.go
  internal/service/base/resource_agreement_localization_enable.go
  internal/service/base/resource_agreement_localization_revision.go
  internal/service/base/resource_branding_settings.go
  internal/service/base/resource_branding_theme.go
  internal/service/base/resource_branding_theme_default.go
  internal/service/base/resource_environment.go
  internal/service/base/resource_notification_policy.go
  internal/service/base/resource_notification_settings_email.go
  internal/service/base/resource_trusted_email_address.go
  internal/service/credentials/data_source_credential_issuance_rule.go
  internal/service/credentials/data_source_credential_issuer_profile.go
  internal/service/credentials/data_source_credential_type.go
  internal/service/credentials/data_source_credential_types.go
  internal/service/credentials/data_source_digital_wallet_application.go
  internal/service/credentials/data_source_digital_wallet_applications.go
  internal/service/credentials/resource_credential_issuance_rule.go
  internal/service/credentials/resource_credential_issuer_profile.go
  internal/service/credentials/resource_credential_type.go
  internal/service/credentials/resource_digital_wallet_application.go
  internal/service/risk/resource_risk_predictor.go
  internal/service/sso/data_source_flow_policies.go
  internal/service/sso/data_source_flow_policy.go
  internal/service/sso/data_source_population.go
  internal/service/sso/data_source_populations.go
  internal/service/sso/data_source_schema.go
  internal/service/sso/resource_application_attribute_mapping.go
  internal/service/sso/resource_application_flow_policy_assignment.go
  internal/service/sso/resource_identity_provider_attribute.go
  internal/service/sso/resource_resource_attribute.go
Labels: type/housekeeping

#377 Improvements to credential type documentation and validation bug fix.
  .changelog/377.txt
  docs/resources/credential_type.md
  internal/service/credentials/resource_credential_type.go
  internal/service/credentials/resource_credential_type_test.go
Labels: type/bug, documentation, service/credentials
