Repository pingidentity/terraform-provider-pingone, pull requests merged in 2023-07, with the labels that each got.

#440 Add validators to list blocks to prevent multiple single-object configurations
  .changelog/440.txt
  docs/resources/branding_settings.md
  docs/resources/branding_theme.md
  internal/service/base/resource_branding_settings.go
  internal/service/base/resource_branding_theme.go
Labels: type/bug, service/base

#449 Bump GO dependencies 2023 07 04
  .changelog/449.txt
  go.mod
  go.sum
  internal/service/mfa/resource_application_push_credential.go
  internal/service/mfa/resource_mfa_policy.go
Labels: type/bug, dependencies, go

#419 Support for Phone Delivery Settings
  .changelog/419.txt
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
  docs/data-sources/phone_delivery_settings_list.md
  docs/resources/notification_settings.md
  docs/resources/phone_delivery_settings.md
  examples/data-sources/pingone_phone_delivery_settings_list/data-source.tf
  examples/resources/pingone_notification_settings/import.sh
  examples/resources/pingone_notification_settings/resource.tf
  examples/resources/pingone_phone_delivery_settings/import.sh
  examples/resources/pingone_phone_delivery_settings/resource-custom-provider.tf
  examples/resources/pingone_phone_delivery_settings/resource-custom-syniverse.tf
  examples/resources/pingone_phone_delivery_settings/resource-custom-twilio.tf
  internal/acctest/acctest.go
  internal/framework/resource.go
  internal/framework/stringvalidator/conflicts_if_matches_path_value.go
  internal/service/base/data_source_phone_delivery_settings_list.go
  internal/service/base/data_source_phone_delivery_settings_list_test.go
  internal/service/base/resource_notification_settings.go
  internal/service/base/resource_notification_settings_test.go
  internal/service/base/resource_phone_delivery_settings.go
  internal/service/base/resource_phone_delivery_settings_test.go
  internal/service/base/service.go
  internal/verify/validate.go
  templates/data-sources/phone_delivery_settings_list.md.tmpl
  templates/resources/notification_settings.md.tmpl
  templates/resources/phone_delivery_settings.md.tmpl
Labels: type/enhancement, service/base

#426 Update provider to account for new Google Android Firebase integration
  .changelog/426.txt
  docs/resources/mfa_application_push_credential.md
  docs/resources/mfa_policy.md
  examples/resources/pingone_mfa_application_push_credential/resource.tf
  examples/resources/pingone_mfa_policy/resource-mobile-authenticator.tf
  internal/acctest/acctest.go
  internal/framework/listplanmodifier/replace_if_now_null.go
  internal/framework/stringplanmodifier/replace_if_now_null.go
  internal/provider/sdkv2/provider.go
  internal/service/mfa/resource_application_push_credential.go
  internal/service/mfa/resource_application_push_credential_test.go
  internal/service/mfa/resource_mfa_policy_test.go
  internal/service/mfa/service.go
  templates/resources/mfa_application_push_credential.md.tmpl
Labels: type/enhancement, service/mfa

#389 Documentation HCL adjustments and corrections
  .changelog/389.txt
  docs/resources/application_resource_grant.md
  docs/resources/group.md
  docs/resources/mfa_application_push_credential.md
  docs/resources/notification_settings_email.md
  docs/resources/schema_attribute.md
  examples/resources/pingone_application_resource_grant/resource.tf
  examples/resources/pingone_group/resource.tf
  examples/resources/pingone_mfa_application_push_credential/resource.tf
  examples/resources/pingone_notification_settings_email/resource.tf
  examples/resources/pingone_schema_attribute/resource-with-regex-validation.tf
  examples/resources/pingone_schema_attribute/resource.tf
  templates/resources/schema_attribute.md.tmpl
Labels: documentation, service/base, service/sso, service/mfa

#452 Changed "Risk" documentation subcategory to "Protect", for the release of PingOne Protect
  .changelog/452.txt
  docs/resources/risk_policy.md
  docs/resources/risk_predictor.md
  templates/resources/risk_policy.md.tmpl
  templates/resources/risk_predictor.md.tmpl
Labels: documentation, service/protect

#453 Migrate "user" resources and data sources to plugin framework
  .changelog/453.txt
  docs/data-sources/user.md
  docs/data-sources/users.md
  docs/resources/user.md
  internal/provider/sdkv2/provider.go
  internal/service/sso/data_source_user.go
  internal/service/sso/data_source_user_test.go
  internal/service/sso/data_source_users.go
  internal/service/sso/data_source_users_test.go
  internal/service/sso/resource_user.go
  internal/service/sso/service.go
Labels: service/sso, type/housekeeping

#454 Correct MFA policy upgrade guide link in registry documentation
  .changelog/454.txt
  docs/resources/mfa_fido_policy.md
  docs/resources/mfa_policy.md
  templates/resources/mfa_fido_policy.md.tmpl
  templates/resources/mfa_policy.md.tmpl
Labels: documentation, service/mfa

#455 Correct `Upgrade MFA Policies to use FIDO2 with Passkeys guide` text
  .changelog/455.txt
  docs/guides/upgrade-mfa-policy-for-fido2.md
  templates/guides/upgrade-mfa-policy-for-fido2.md
Labels: documentation, service/mfa

#456 Migrate `pingone_application_resource_grant` to plugin framework
  .changelog/456.txt
  docs/resources/application_resource_grant.md
  internal/provider/sdkv2/provider.go
  internal/service/sso/resource_application_resource_grant.go
  internal/service/sso/service.go
Labels: service/sso, type/housekeeping

#457 `pingone_application_resource_grant`: Add validation to disallow assignment of the `openid` scope from the `openid` resource to avoid error.
  .changelog/457.txt
  docs/resources/application_resource_grant.md
  internal/service/sso/resource_application_resource_grant.go
  internal/service/sso/resource_application_resource_grant_test.go
Labels: type/enhancement, service/sso

#458 Support country limit on `pingone_notification_policy` resource
  .changelog/458.txt
  docs/resources/notification_policy.md
  internal/service/base/resource_notification_policy.go
  internal/service/base/resource_notification_policy_test.go
Labels: type/enhancement, service/base

#469 Optimise environment data source filtering by name
  .changelog/469.txt
  internal/service/base/data_source_environment.go
Labels: type/enhancement, service/base

#468 Expand `pingone_application` and `pingone_identity_provider` schema to support additional SLO parameters.
  .changelog/468.txt
  docs/resources/application.md
  docs/resources/identity_provider.md
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
Labels: type/enhancement, service/sso, size/small

#472 Fix defect which triggers an error if optional SAML slo_window value is undefined.
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
Labels: type/bug, service/sso, size/small

#466 Support key rotation policies
  .changelog/466.txt
  docs/resources/key_rotation_policy.md
  examples/resources/pingone_key_rotation_policy/import.sh
  examples/resources/pingone_key_rotation_policy/resource.tf
  internal/framework/schema_attribute_description.go
  internal/service/base/resource_key_rotation_policy.go
  internal/service/base/resource_key_rotation_policy_test.go
  internal/service/base/resource_system_application.go
  internal/service/base/service.go
  internal/service/risk/resource_risk_policy.go
  internal/service/sso/data_source_user.go
  internal/service/sso/resource_user.go
  internal/utils/enum.go
  internal/utils/int.go
  internal/utils/string.go
  templates/resources/key_rotation_policy.md.tmpl
Labels: documentation, type/enhancement, service/base

#471 Add provider parameter to connect to api service via proxy
  .changelog/471.txt
  internal/client/client.go
  internal/client/config.go
  internal/provider/framework/provider.go
  internal/provider/sdkv2/provider.go
Labels: type/enhancement

#474 Set provider UserAgent
  .changelog/474.txt
  .github/workflows/acceptance-test-ff-multi-region.yml
  .github/workflows/acceptance-test-ff-multi-version.yml
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
  GNUmakefile
  internal/acctest/acctest.go
  internal/client/client.go
  internal/provider/framework/provider.go
  internal/provider/sdkv2/provider.go
  internal/sweep/sweep.go
Labels: type/enhancement, type/housekeeping

#470 Support `ip_address_exposed` and `useragent_exposed` in `filter_options` in `pingone_webhook.`
  .changelog/470.txt
  docs/resources/webhook.md
  internal/service/base/resource_webhook.go
  internal/service/base/resource_webhook_test.go
Labels: type/enhancement, service/base, size/small

#475 Fixed unable to update PKCE enforcement on OIDC worker app
  .changelog/475.txt
  internal/service/sso/resource_application.go
Labels: type/bug, service/sso

#476 Fix `pingone_notification_policy` `country_limit` defaults issue
  internal/service/base/resource_notification_policy.go
Labels: type/bug, service/base

#477 Support for new device notification configuration in `pingone_mfa_policy`
  .changelog/477.txt
  docs/resources/mfa_policy.md
  internal/service/mfa/resource_mfa_policy.go
  internal/service/mfa/resource_mfa_policy_test.go
Labels: type/enhancement, service/mfa, size/small

#479 Add new `pingone_user_role_assignments` data source
  .changelog/479.txt
  docs/data-sources/user_role_assignments.md
  examples/data-sources/pingone_user_role_assignments/data-source.tf
  internal/service/base/data_source_user_role_assignments.go
  internal/service/base/data_source_user_role_assignments_test.go
  internal/service/base/service.go
  templates/data-sources/user_role_assignments.md.tmpl
Labels: type/enhancement, service/base

#480 Corrected `new_device_notification` default value
  docs/resources/mfa_policy.md
  internal/service/mfa/resource_mfa_policy.go
  internal/service/mfa/resource_mfa_policy_test.go
Labels: type/bug, service/mfa

#483 bump `github.com/patrickcping/pingone-go-sdk-v2` v0.10.0 => v0.10.1
  .changelog/483.txt
  go.mod
  go.sum
Labels: type/bug, dependencies, go

#486 `pingone_environment` corrected default population and service block behaviours
  .changelog/486.txt
  docs/resources/environment.md
  examples/resources/pingone_environment/resource.tf
  internal/service/base/resource_environment.go
  internal/service/base/resource_environment_test.go
  internal/service/sso/data_source_population.go
  templates/resources/environment.md.tmpl
Labels: type/bug, documentation, service/base

#487 Optimise `pingone_population` data source selection by name filter
  .changelog/487.txt
  internal/service/sso/data_source_population.go
  internal/service/sso/data_source_population_test.go
Labels: service/sso, type/housekeeping

#489 Support OTP delivery to phone extensions.
  .changelog/489.txt
  docs/resources/mfa_settings.md
  examples/resources/pingone_mfa_settings/resource.tf
  internal/service/mfa/resource_mfa_settings.go
  internal/service/mfa/resource_mfa_settings_test.go
Labels: type/enhancement, service/mfa, size/small

#490 Correct `digital_wallet_application_id` validation from `REQUIRED` to `OPTIONAL`.
  .changelog/490.txt
  docs/resources/credential_issuance_rule.md
  internal/service/credentials/resource_credential_issuance_rule.go
  internal/service/credentials/resource_credential_issuance_rule_test.go
Labels: type/bug, service/credentials, size/small

#493 Change resources to avoid dependencies on data sources that depend on the `pingone_environment` resource
  .changelog/493.txt
  docs/data-sources/resource.md
  docs/resources/resource_attribute.md
  docs/resources/resource_scope_openid.md
  docs/resources/schema_attribute.md
  examples/resources/pingone_resource_attribute/resource.tf
  examples/resources/pingone_resource_scope_openid/resource.tf
  examples/resources/pingone_schema_attribute/resource-with-regex-validation.tf
  examples/resources/pingone_schema_attribute/resource.tf
  internal/framework/schema_common.go
  internal/provider/sdkv2/provider.go
  internal/service/sso/data_source_resource.go
  internal/service/sso/data_source_resource_test.go
  internal/service/sso/data_source_schema.go
  internal/service/sso/resource_resource.go
  internal/service/sso/resource_resource_attribute.go
  internal/service/sso/resource_resource_attribute_test.go
  internal/service/sso/resource_resource_scope_openid_test.go
  internal/service/sso/resource_schema_attribute.go
  internal/service/sso/resource_schema_attribute_schema_upgrade_0_to_1.go
  internal/service/sso/resource_schema_attribute_test.go
  internal/service/sso/service.go
Labels: type/enhancement, service/sso, size/large

#498 Correct service parameter dereferencing
  .changelog/498.txt
  internal/provider/framework/provider.go
Labels: type/bug
