Repository pingidentity/terraform-provider-pingone, pull requests merged in 2023-11, with the labels that each got.

#621 remove dev tools from main build module
  .github/workflows/code-check.yml
  GNUmakefile
  go.mod
  go.sum
  main.go
  tools/go.mod
  tools/go.sum
  tools/main.go
Labels: type/housekeeping

#623 Bump go modules 2023-11-01
  .changelog/623.txt
  docs/resources/key.md
  go.mod
  go.sum
Labels: dependencies, go

#613 `data-source/pingone_gateway`: implement new datasource
  .changelog/613.txt
  docs/data-sources/gateway.md
  examples/data-sources/pingone_gateway/data-source.tf
  internal/service/base/data_source_gateway.go
  internal/service/base/data_source_gateway_test.go
  internal/service/base/service.go
  templates/data-sources/gateway.md.tmpl
Labels: type/enhancement, service/base, status/blocked/upstream-sdk, size/medium

#620 Added `service.tags` parameter to the `pingone_environment` resource and datasource
  .changelog/620.txt
  docs/data-sources/environment.md
  docs/resources/environment.md
  internal/service/base/data_source_environment.go
  internal/service/base/resource_environment.go
  internal/service/base/resource_environment_test.go
Labels: type/enhancement, service/base

#602 Support role assignments to groups
  .changelog/602.txt
  docs/resources/group_role_assignment.md
  examples/resources/pingone_group_role_assignment/import.sh
  examples/resources/pingone_group_role_assignment/resource-environment.tf
  examples/resources/pingone_group_role_assignment/resource-organization.tf
  examples/resources/pingone_group_role_assignment/resource-population.tf
  internal/acctest/service/sso/group_role_assignment.go
  internal/service/sso/resource_group_role_assignment.go
  internal/service/sso/resource_group_role_assignment_test.go
  internal/service/sso/service.go
  internal/service/utils_role_assignment.go
  internal/utils/maps.go
  templates/resources/group_role_assignment.md.tmpl
Labels: type/enhancement, service/base

#599 Support new data source `pingone_roles` and extend `pingone_role` data source schema
  .changelog/599.txt
  docs/data-sources/role.md
  docs/data-sources/roles.md
  examples/data-sources/pingone_role/data-source.tf
  examples/data-sources/pingone_roles/data-source.tf
  internal/service/base/data_source_role.go
  internal/service/base/data_source_role_test.go
  internal/service/base/data_source_roles.go
  internal/service/base/data_source_roles_test.go
  internal/service/base/service.go
  templates/data-sources/roles.md.tmpl
Labels: type/enhancement, service/base

#625 `resource/pingone_mfa_fido_policy`: Removal of deprecated resource for `v1.0.0`
  .changelog/625.txt
  docs/guides/version-1-upgrade.md
  docs/resources/mfa_fido_policy.md
  examples/resources/pingone_mfa_fido_policy/import.sh
  examples/resources/pingone_mfa_fido_policy/resource.tf
  internal/acctest/service/mfa/fido_policy.go
  internal/provider/sdkv2/provider.go
  internal/service/mfa/resource_fido_policy.go
  internal/service/mfa/resource_fido_policy_test.go
  internal/service/mfa/resource_mfa_policy_test.go
  templates/guides/version-1-upgrade.md
  templates/resources/mfa_fido_policy.md.tmpl
Labels: service/mfa, type/housekeeping

#627 `resource/pingone_mfa_policy`: Removal of deprecated parameters `platform` and `security_key`
  .changelog/627.txt
  docs/guides/version-1-upgrade.md
  docs/resources/mfa_policy.md
  internal/service/mfa/resource_mfa_policy.go
  internal/service/mfa/resource_mfa_policy_test.go
  templates/guides/version-1-upgrade.md
  templates/resources/mfa_policy.md.tmpl
Labels: service/mfa, type/housekeeping

#628 `data-source/pingone_organization`: Removal of deprecated platform URL computed attributes (v.1.0.0)
  .changelog/628.txt
  docs/data-sources/organization.md
  docs/guides/version-1-upgrade.md
  internal/service/base/data_source_organization.go
  templates/guides/version-1-upgrade.md
Labels: service/base, type/housekeeping

#629 `resource/pingone_environment`: Removal of deprecated parameter `default_population` and computed attribute `default_population_id` (`v1.0.0`)
  .changelog/629.txt
  docs/guides/version-1-upgrade.md
  docs/resources/environment.md
  internal/service/base/resource_environment.go
  internal/service/base/resource_environment_test.go
  templates/guides/version-1-upgrade.md
Labels: service/base, type/housekeeping

#630 `resource/pingone_mfa_application_push_credential`: Removal of deprecated parameter `fcm.key` (`v1.0.0`)
  .changelog/630.txt
  docs/guides/version-1-upgrade.md
  docs/resources/mfa_application_push_credential.md
  internal/service/mfa/resource_application_push_credential.go
  internal/service/mfa/resource_application_push_credential_test.go
  templates/guides/version-1-upgrade.md
  templates/resources/mfa_application_push_credential.md.tmpl
Labels: service/mfa, type/housekeeping

#638 `resource/pingone_population_default`: Fix timeout logic
  .changelog/600-2.txt
  docs/resources/population_default.md
  internal/acctest/acctest.go
  internal/service/sso/resource_population_default.go
  internal/service/sso/resource_population_default_test.go
Labels: type/bug, service/sso

#635 `resource/pingone_group_role_assignment`: Added error check if a read-only role assignment is being destroyed
  internal/service/sso/resource_group_role_assignment.go
Labels: type/bug, service/sso

#634 `resource/pingone_application_role_assignment`: Migrated to plugin framework
  .changelog/634.txt
  docs/resources/application_role_assignment.md
  internal/provider/sdkv2/provider.go
  internal/service/sso/resource_application_role_assignment.go
  internal/service/sso/resource_application_role_assignment_test.go
  internal/service/sso/service.go
Labels: service/sso, type/housekeeping

#637 `resource/pingone_role_assignment_user`: Migrated to plugin framework
  .changelog/637.txt
  docs/resources/role_assignment_user.md
  internal/provider/sdkv2/provider.go
  internal/service/base/resource_role_assignment_user.go
  internal/service/base/resource_role_assignment_user_test.go
  internal/service/base/service.go
Labels: service/base, type/housekeeping

#639 `data-source/pingone_population`: Add `default` computed attribute
  .changelog/639.txt
  docs/data-sources/population.md
  internal/service/sso/data_source_population.go
  internal/service/sso/data_source_population_test.go
Labels: type/enhancement, service/sso

#636 `resource/pingone_gateway_role_assignment`: Migrated to plugin framework
  .changelog/636.txt
  docs/resources/gateway_role_assignment.md
  internal/provider/sdkv2/provider.go
  internal/service/base/resource_gateway_role_assignment.go
  internal/service/base/resource_gateway_role_assignment_test.go
  internal/service/base/service.go
Labels: service/base, type/housekeeping

#640 Adjustments to default population user-configurable timeouts
  .changelog/640.txt
  docs/resources/environment.md
  docs/resources/population_default.md
  internal/service/base/resource_environment.go
  internal/service/base/resource_environment_test.go
  internal/service/sso/resource_population_default.go
Labels: type/bug, service/base, service/sso

#641 Align provider to bootstrap routine
  .changelog/600.txt
  CHANGELOG.md
  docs/resources/population_default.md
  internal/acctest/acctest.go
  internal/service/base/resource_environment.go
  internal/service/base/resource_environment_test.go
  internal/service/sso/resource_population_default.go
  internal/service/sso/resource_population_default_test.go
Labels: service/base, service/sso, type/housekeeping

#643 `resource/pingone_environment`: Remove `timeouts` parameter block
  .changelog/643.txt
  docs/guides/version-1-upgrade.md
  docs/resources/environment.md
  internal/service/base/resource_environment.go
  templates/guides/version-1-upgrade.md
Labels: service/base, type/housekeeping

#644 `resource/pingone_mfa_application_push_credential`: Changed the `apns`, `fcm` and `hms` data types
  .changelog/644.txt
  docs/guides/version-1-upgrade.md
  docs/resources/mfa_application_push_credential.md
  examples/resources/pingone_mfa_application_push_credential/resource.tf
  internal/framework/objectplanmodifier/replace_if_now_null.go
  internal/service/mfa/resource_application_push_credential.go
  internal/service/mfa/resource_application_push_credential_test.go
  internal/service/mfa/resource_mfa_policy_test.go
  templates/guides/version-1-upgrade.md
Labels: service/mfa, type/housekeeping

#645 `resource/pingone_mfa_settings`: Removal of deprecated parameter `authentication`
  .changelog/645.txt
  docs/guides/version-1-upgrade.md
  docs/resources/mfa_settings.md
  internal/service/mfa/resource_mfa_settings.go
  internal/service/mfa/resource_mfa_settings_test.go
  templates/guides/version-1-upgrade.md
Labels: service/mfa, type/housekeeping

#647 `pingone_user`: Removed the deprecated `status` parameter/attribute from the resource and data source
  .changelog/647.txt
  docs/data-sources/user.md
  docs/guides/version-1-upgrade.md
  docs/resources/user.md
  internal/service/sso/data_source_user.go
  internal/service/sso/data_source_user_test.go
  internal/service/sso/resource_user.go
  internal/service/sso/resource_user_test.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping

#648 `resource/pingone_population_default`: Correct documentation notes
  .changelog/648.txt
  docs/resources/population_default.md
  templates/resources/population_default.md.tmpl
Labels: documentation, service/sso

#652 `resource/pingone_environment`: Fixed `Value Conversion Error` when attempting to create an environment using calculated (unknown) `service` blocks.
  .changelog/652.txt
  internal/service/base/resource_environment.go
  internal/service/base/resource_environment_test.go
Labels: type/bug, service/base

#653 bump go modules 2023-11-10
  .changelog/653.txt
  go.mod
  go.sum
Labels: dependencies, go

#650 `resource/pingone_mfa_policy`: Fixed `409 Conflict` error when attempting to destroy an MFA sign-on policy action and MFA device policy
  .changelog/650.txt
  internal/service/mfa/resource_mfa_policy.go
  internal/service/mfa/resource_mfa_policy_test.go
  internal/service/sso/resource_sign_on_policy_action.go
Labels: type/bug, service/sso, service/mfa

#649 `resource/pingone_identity_provider`: Migrate to plugin framework
  .changelog/649.txt
  docs/resources/identity_provider.md
  internal/framework/schema_attribute_description.go
  internal/provider/sdkv2/provider.go
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
  internal/service/sso/service.go
  internal/service/utils_image.go
Labels: service/sso, type/housekeeping

#656 Remove deprecated attributes application (`v1.0.0`)
  .changelog/656.txt
  docs/guides/version-1-upgrade.md
  docs/resources/application.md
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping

#657 `resource/pingone_resource_grant`: Changed parameters `resource_id` and `scopes` to be read-only (`v1.0.0`)
  .changelog/657.txt
  docs/guides/version-1-upgrade.md
  docs/resources/application_resource_grant.md
  internal/service/sso/resource_application_resource_grant.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping

#658 `resource/pingone_resource_attribute`: Changed parameter `resource_id` to be read-only
  .changelog/658.txt
  docs/guides/version-1-upgrade.md
  docs/resources/resource_attribute.md
  internal/service/sso/resource_resource_attribute.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping

#659 Update application resource grant upgrade doc text
  .changelog/657.txt
  docs/guides/version-1-upgrade.md
  templates/guides/version-1-upgrade.md
Labels: documentation, service/sso, type/housekeeping

#660 `resource/pingone_schema_attribute`: Changed parameter `schema_id` to be read-only
  .changelog/660.txt
  docs/guides/version-1-upgrade.md
  docs/resources/schema_attribute.md
  internal/service/sso/resource_schema_attribute.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping

#661 Change image logo data types (`v1.0.0`)
  .changelog/661.txt
  docs/guides/version-1-upgrade.md
  docs/resources/branding_settings.md
  docs/resources/branding_theme.md
  docs/resources/credential_type.md
  docs/resources/identity_provider.md
  examples/resources/pingone_branding_settings/resource.tf
  examples/resources/pingone_branding_theme/resource.tf
  examples/resources/pingone_credential_type/resource.tf
  internal/service/base/resource_branding_settings.go
  internal/service/base/resource_branding_settings_test.go
  internal/service/base/resource_branding_theme.go
  internal/service/base/resource_branding_theme_test.go
  internal/service/credentials/resource_credential_type.go
  internal/service/credentials/resource_credential_type_test.go
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_test.go
  internal/service/utils_image.go
  templates/guides/version-1-upgrade.md
Labels: service/base, service/sso, type/housekeeping

#662 `resource/pingone_identity_provider`: Changed block data types
  .changelog/662.txt
  docs/guides/version-1-upgrade.md
  docs/resources/identity_provider.md
  docs/resources/identity_provider_attribute.md
  examples/resources/pingone_identity_provider/resource.tf
  examples/resources/pingone_identity_provider_attribute/resource.tf
  internal/framework/schema_attribute_description.go
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_attribute_test.go
  internal/service/sso/resource_identity_provider_test.go
  internal/service/sso/resource_sign_on_policy_action_test.go
  internal/service/sso/resource_user_test.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping

#663 `resource/pingone_webhook`: Changed block data types
  .changelog/663.txt
  docs/guides/version-1-upgrade.md
  docs/resources/webhook.md
  examples/resources/pingone_webhook/resource.tf
  internal/service/base/resource_webhook.go
  internal/service/base/resource_webhook_test.go
  templates/guides/version-1-upgrade.md
Labels: service/base, type/housekeeping

#664 Change the `data_filter` block parameter data type and rename
  .changelog/664.txt
  docs/data-sources/flow_policies.md
  docs/data-sources/populations.md
  docs/data-sources/users.md
  docs/guides/version-1-upgrade.md
  examples/data-sources/pingone_flow_policies/data-source.tf
  examples/data-sources/pingone_populations/data-source.tf
  examples/data-sources/pingone_users/data-source.tf
  internal/framework/schema_common.go
  internal/service/sso/data_source_flow_policies.go
  internal/service/sso/data_source_flow_policies_test.go
  internal/service/sso/data_source_populations.go
  internal/service/sso/data_source_populations_test.go
  internal/service/sso/data_source_users.go
  internal/service/sso/data_source_users_test.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping

#665 Change environment block parameters
  .changelog/665.txt
  docs/data-sources/environment.md
  docs/guides/version-1-upgrade.md
  docs/resources/environment.md
  examples/resources/pingone_environment/resource.tf
  internal/acctest/acctest.go
  internal/service/base/data_source_environment.go
  internal/service/base/data_source_environment_test.go
  internal/service/base/data_source_environments_test.go
  internal/service/base/resource_environment.go
  internal/service/base/resource_environment_test.go
  internal/service/credentials/data_source_credential_issuer_profile_test.go
  templates/guides/version-1-upgrade.md
Labels: service/base, type/housekeeping

#667 Support new Group data sources
  .changelog/667.txt
  docs/data-sources/group.md
  docs/data-sources/groups.md
  examples/data-sources/pingone_group/data-source.tf
  examples/data-sources/pingone_groups/data-source.tf
  go.work.sum
  internal/service/sso/data_source_group.go
  internal/service/sso/data_source_group_test.go
  internal/service/sso/data_source_groups.go
  internal/service/sso/data_source_groups_test.go
  internal/service/sso/service.go
  templates/data-sources/group.md.tmpl
  templates/data-sources/groups.md.tmpl
Labels: type/enhancement, service/sso

#669 Correct `pingone_user` HCL example
  .changelog/669.txt
  docs/resources/user.md
  examples/resources/pingone_user/resource.tf
Labels: documentation, service/sso

#670 Update `pingone_population` schema documentation
  .changelog/670.txt
  docs/data-sources/population.md
  docs/resources/population.md
  internal/service/sso/data_source_population.go
  internal/service/sso/resource_population.go
Labels: documentation, service/sso

#674 Bump go modules 2023-11-29
  .changelog/674.txt
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, go

#668 New user group assignment resource
  .changelog/688.txt
  docs/resources/user_group_assignment.md
  examples/resources/pingone_user_group_assignment/import.sh
  examples/resources/pingone_user_group_assignment/resource.tf
  internal/acctest/service/sso/user_group_assignment.go
  internal/service/sso/resource_user_group_assignment.go
  internal/service/sso/resource_user_group_assignment_test.go
  internal/service/sso/service.go
  templates/resources/user_group_assignment.md.tmpl
Labels: type/enhancement, service/sso

#654 `resource/pingone_user`: Fix inconsistent result when attempting to create a user in where `account.status` is `LOCKED`
  .changelog/654.txt
  internal/service/sso/resource_user.go
  internal/service/sso/resource_user_test.go
Labels: type/bug, service/sso

#673 Add `cors_settings` parameter to OIDC and SAML applications
  .changelog/673.txt
  docs/data-sources/application.md
  docs/resources/application.md
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
Labels: type/enhancement, service/sso

#675 `resource/pingone_mfa_policy`: Fixed error when creating MFA device policy with Always Display Devices method selection
  .changelog/675.txt
  docs/resources/mfa_policy.md
  go.mod
  go.sum
  go.work.sum
  internal/service/mfa/resource_mfa_policy.go
  internal/service/mfa/resource_mfa_policy_test.go
Labels: type/bug, service/mfa

#676 `resource/pingone_user`: Add retry for observed race condition
  internal/service/sso/resource_user.go
Labels: type/bug, service/sso

#677 `data-source/pingone_groups`: Changed the data_filter parameter data type and renamed to data_filters (`v1`)
  .changelog/tbc.txt
  docs/data-sources/groups.md
  docs/guides/version-1-upgrade.md
  examples/data-sources/pingone_groups/data-source.tf
  internal/service/sso/data_source_groups.go
  internal/service/sso/data_source_groups_test.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping, breaking change
