Repository pingidentity/terraform-provider-pingone, pull requests merged in 2023-06, with the labels that each got.

#387 `resource/pingone_risk_predictor`: Corrected documentation examples
  .changelog/387.txt
  docs/resources/risk_predictor.md
  examples/resources/pingone_risk_predictor/resource-anonymous-network.tf
  examples/resources/pingone_risk_predictor/resource-composite.tf
  examples/resources/pingone_risk_predictor/resource-custom.tf
  examples/resources/pingone_risk_predictor/resource-geovelocity.tf
  examples/resources/pingone_risk_predictor/resource-ip-reputation.tf
  examples/resources/pingone_risk_predictor/resource-new-device.tf
  examples/resources/pingone_risk_predictor/resource-user-location.tf
  examples/resources/pingone_risk_predictor/resource-user-risk-behavior.tf
  examples/resources/pingone_risk_predictor/resource-velocity.tf
Labels: documentation, service/risk

#396 Bump go dependencies 2023-06-05
  .changelog/396.txt
  go.mod
  go.sum
  internal/provider/framework/provider.go
Labels: dependencies, go

#397 Corrected date-based tests
  internal/service/base/data_source_agreement_test.go
  internal/service/base/resource_agreement_localization_revision_test.go
  internal/service/risk/resource_risk_predictor_test.go
Labels: service/base, service/risk, type/housekeeping

#400 `pingone_population`: Fixed panic on plan when population is removed outside of Terraform and migrate to plugin framework
  .changelog/400.txt
  docs/resources/population.md
  internal/provider/sdkv2/provider.go
  internal/service/sso/resource_population.go
  internal/service/sso/resource_population_test.go
  internal/service/sso/service.go
Labels: type/bug, service/sso

#406 Schema corrections for Issue 405 and documentation updates
  .changelog/406.txt
  docs/data-sources/credential_type.md
  docs/resources/digital_wallet_application.md
  internal/service/credentials/data_source_credential_issuer_profile.go
  internal/service/credentials/data_source_credential_type.go
  internal/service/credentials/resource_credential_issuance_rule.go
  internal/service/credentials/resource_credential_issuance_rule_test.go
  internal/service/credentials/resource_credential_issuer_profile.go
  internal/service/credentials/resource_digital_wallet_application.go
Labels: type/bug, documentation, service/credentials

#404 Update and correct common link ID attributes
  .changelog/404.txt
  docs/data-sources/agreement.md
  docs/data-sources/agreement_localization.md
  docs/data-sources/credential_issuance_rule.md
  docs/data-sources/credential_issuer_profile.md
  docs/data-sources/credential_type.md
  docs/data-sources/credential_types.md
  docs/data-sources/digital_wallet_application.md
  docs/data-sources/digital_wallet_applications.md
  docs/data-sources/flow_policies.md
  docs/data-sources/flow_policy.md
  docs/data-sources/population.md
  docs/data-sources/populations.md
  docs/data-sources/schema.md
  docs/data-sources/trusted_email_domain.md
  docs/resources/agreement.md
  docs/resources/agreement_enable.md
  docs/resources/agreement_localization.md
  docs/resources/agreement_localization_enable.md
  docs/resources/agreement_localization_revision.md
  docs/resources/application_attribute_mapping.md
  docs/resources/application_flow_policy_assignment.md
  docs/resources/branding_settings.md
  docs/resources/branding_theme.md
  docs/resources/branding_theme_default.md
  docs/resources/credential_issuance_rule.md
  docs/resources/credential_issuer_profile.md
  docs/resources/credential_type.md
  docs/resources/digital_wallet_application.md
  docs/resources/identity_provider_attribute.md
  docs/resources/notification_policy.md
  docs/resources/notification_settings_email.md
  docs/resources/population.md
  docs/resources/resource_attribute.md
  docs/resources/risk_policy.md
  docs/resources/risk_predictor.md
  docs/resources/system_application.md
  docs/resources/trusted_email_address.md
  internal/framework/schema_common.go
  internal/service/base/resource_branding_settings.go
  internal/service/base/resource_branding_theme.go
  internal/service/base/resource_trusted_email_address.go
  internal/service/credentials/data_source_credential_issuer_profile.go
  internal/service/credentials/resource_credential_issuer_profile.go
  internal/service/sso/resource_application_flow_policy_assignment.go
  internal/service/sso/resource_application_flow_policy_assignment_test.go
Labels: type/bug, documentation, service/base, service/risk, service/authorize, service/sso, service/mfa, service/verify, service/credentials

#412 `resource/pingone_sign_on_policy_action`: Fix plugin panic crash when defining `conditions.user_attribute_equals` in a priority 1 `mfa` sign-on policy
  .changelog/412.txt
  docs/resources/sign_on_policy_action.md
  internal/service/sso/resource_sign_on_policy_action.go
  internal/service/sso/resource_sign_on_policy_action_test.go
  internal/service/sso/schema_sign_on_policy_action.go
  templates/resources/sign_on_policy_action.md.tmpl
Labels: type/bug, type/enhancement, service/sso

#413 Correct Risk Policy import error message
  internal/service/risk/resource_risk_policy.go
Labels: documentation, type/housekeeping

#417 Optimise code for conversion of ENUM to TF state
  .changelog/417.txt
  internal/service/base/data_source_environment.go
  internal/service/base/resource_agreement_localization_revision.go
  internal/service/base/resource_environment.go
  internal/service/credentials/data_source_credential_issuance_rule.go
  internal/service/credentials/data_source_credential_type.go
  internal/service/credentials/resource_credential_issuance_rule.go
  internal/service/credentials/resource_credential_type.go
Labels: type/housekeeping

#418 Fix environment DS code optimisation
  internal/service/base/data_source_environment.go
Labels: type/housekeeping

#424 Bump dependencies 2023-06-19
  .changelog/424.txt
  go.mod
  go.sum
Labels: dependencies, go

#428 Support p1verify and p1credentials notification templates.
  .changelog/428.txt
  docs/resources/notification_template_content.md
  internal/service/base/resource_notification_template_content.go
  internal/service/base/resource_notification_template_content_test.go
Labels: type/enhancement, service/base, service/verify, service/credentials, size/small

#433 Changed signed certificate import test check for validity period
  internal/service/base/resource_certificate_signing_response_test.go
Labels: service/base, type/housekeeping

#438 Correct gateway non-TLS tests
  internal/service/base/resource_gateway_test.go
  internal/service/sso/resource_sign_on_policy_action_test.go
Labels: service/base, service/sso, type/housekeeping
