Repository pingidentity/terraform-provider-pingone, pull requests merged in 2024-03, with the labels that each got.

#754 `pingone_verify_policy`: add support for `inspection_type` property in `government_id` configuration object.
  .changelog/754.txt
  docs/data-sources/verify_policy.md
  docs/resources/verify_policy.md
  internal/service/verify/data_source_verify_policy.go
  internal/service/verify/data_source_verify_policy_test.go
  internal/service/verify/resource_verify_policy.go
  internal/service/verify/resource_verify_policy_test.go
Labels: type/enhancement, service/verify, size/small

#766 Bump go modules 2024-03-15
  .changelog/766.txt
  docs/resources/risk_predictor.md
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, go

#768 `pingone_application`: Added support for `saml_options.default_target_url` property
  .changelog/768.txt
  docs/data-sources/application.md
  docs/resources/application.md
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
Labels: type/enhancement, service/sso

#770 Fix error when attempting to move a user between populations
  .changelog/770.txt
  internal/service/sso/resource_user.go
  internal/service/sso/resource_user_test.go
Labels: type/bug, service/sso

#771 bump modules 2024-03-25
  .changelog/771.txt
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, go

#773 Add global options to provider configuration, including the ability to force delete populations if they contain users
  .changelog/773.txt
  docs/index.md
  examples/provider/provider-global-options.tf
  examples/provider/provider.tf
  internal/acctest/acctest.go
  internal/acctest/service/sso/user.go
  internal/client/client.go
  internal/client/config.go
  internal/provider/framework/provider.go
  internal/provider/sdkv2/provider.go
  internal/service/base/resource_environment.go
  internal/service/sso/resource_population.go
  internal/service/sso/resource_population_test.go
  internal/sweep/sweep.go
  templates/index.md.tmpl
Labels: type/enhancement, type/enhancement/ux
