Repository pingidentity/terraform-provider-pingone, pull requests merged in 2024-11, with the labels that each got.

#932 Uplift pingone sdk 2024-11
  .changelog/932.txt
  docs/resources/risk_predictor.md
  go.mod
  go.sum
  go.work.sum
  internal/acctest/service/authorize/application_role_permission.go
  internal/acctest/service/base/alert_channel.go
  internal/acctest/service/sso/user_application_role_assignment.go
  internal/service/authorize/resource_application_role_permission.go
  internal/service/base/data_source_agreement.go
  internal/service/base/data_source_agreement_localization.go
  internal/service/base/data_source_environment.go
  internal/service/base/data_source_environments.go
  internal/service/base/data_source_gateway.go
  internal/service/base/data_source_language.go
  internal/service/base/data_source_licenses.go
  internal/service/base/data_source_organization.go
  internal/service/base/data_source_phone_delivery_settings_list.go
  internal/service/base/data_source_role.go
  internal/service/base/data_source_roles.go
  internal/service/base/data_source_trusted_email_domain.go
  internal/service/base/data_source_user_role_assignments.go
  internal/service/base/resource_alert_channel.go
  internal/service/base/resource_branding_theme_default.go
  internal/service/base/resource_notification_settings.go
  internal/service/base/resource_notification_settings_email.go
  internal/service/base/resource_system_application.go
  internal/service/credentials/data_source_credential_types.go
  internal/service/credentials/data_source_digital_wallet_application.go
  internal/service/credentials/data_source_digital_wallet_applications.go
  internal/service/mfa/data_source_mfa_device_policies.go
  internal/service/risk/data_source_risk_predictors.go
  internal/service/risk/resource_risk_predictor.go
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_application_flow_policy_assignments.go
  internal/service/sso/data_source_application_sign_on_policy_assignments.go
  internal/service/sso/data_source_flow_policies.go
  internal/service/sso/data_source_group.go
  internal/service/sso/data_source_groups.go
  internal/service/sso/data_source_password_policy.go
  internal/service/sso/data_source_population.go
  internal/service/sso/data_source_populations.go
  internal/service/sso/data_source_resource_attribute.go
  internal/service/sso/data_source_resource_scope.go
  internal/service/sso/data_source_schema.go
  internal/service/sso/data_source_user.go
  internal/service/sso/data_source_users.go
  internal/service/sso/resource_application_attribute_mapping.go
  internal/service/sso/resource_application_resource_grant.go
  internal/service/sso/resource_identity_provider_attribute.go
  internal/service/sso/resource_population.go
  internal/service/sso/resource_population_default.go
  internal/service/sso/resource_user_application_role_assignment.go
  internal/service/sso/sweep.go
  internal/service/sso/utils_resource.go
  internal/service/verify/data_source_verify_policies.go
  internal/service/verify/data_source_verify_policy.go
  internal/service/verify/data_source_verify_voice_phrase.go
  internal/service/verify/data_source_verify_voice_phrase_contents.go
  internal/sweep/sweep.go
Labels: type/bug, dependencies, go

#933 Change 64 bit data types to 32 bit to align with the API
  internal/framework/int32validator/is_divisible_by.go
  internal/framework/int32validator/is_greater_than_equal_to_path_value.go
  internal/framework/int32validator/is_greater_than_path_value.go
  internal/framework/int32validator/is_less_than_equal_to_path_value.go
  internal/framework/int32validator/is_less_than_path_value.go
  internal/framework/int32validator/regex_matches_path_value.go
  internal/framework/resource.go
  internal/framework/schemavalidator/conflicts_if_matches_path_value.go
  internal/framework/schemavalidator/is_required_if_matches_path_value.go
  internal/framework/schemavalidator/is_required_if_regex_matches_path_value.go
  internal/framework/schemavalidator/regex_matches_path_value.go
  internal/service/base/data_source_agreement.go
  internal/service/base/data_source_gateway.go
  internal/service/base/data_source_license.go
  internal/service/base/resource_agreement.go
  internal/service/base/resource_form.go
  internal/service/base/resource_gateway.go
  internal/service/base/resource_gateway_schema_upgrade_0_to_1.go
  internal/service/base/resource_image.go
  internal/service/base/resource_image_schema_upgrade_0_to_1.go
  internal/service/base/resource_key.go
  internal/service/base/resource_key_rotation_policy.go
  internal/service/base/resource_notification_policy.go
  internal/service/base/resource_notification_settings_email.go
  internal/service/base/resource_notification_settings_email_schema_upgrade_0_to_1.go
  internal/service/credentials/data_source_credential_type.go
  internal/service/credentials/resource_credential_type.go
  internal/service/mfa/resource_mfa_device_policy.go
  internal/service/mfa/resource_mfa_settings.go
  internal/service/mfa/resource_mfa_settings_schema_upgrade_0_to_1.go
  internal/service/risk/resource_risk_policy.go
  internal/service/risk/resource_risk_predictor.go
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_password_policy.go
  internal/service/sso/data_source_resource.go
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_flow_policy_assignment.go
  internal/service/sso/resource_application_schema_upgrade_0_to_1.go
  internal/service/sso/resource_identity_provider.go
  internal/service/sso/resource_identity_provider_schema_upgrade_0_to_1.go
  internal/service/sso/resource_password_policy.go
  internal/service/sso/resource_password_policy_schema_upgrade_0_to_1.go
  internal/service/sso/resource_resource.go
  internal/service/sso/utils_application.go
  internal/service/verify/data_source_verify_policy.go
  internal/service/verify/resource_verify_policy.go
Labels: service/base, service/protect, service/authorize, service/sso, service/mfa, service/verify, service/credentials, type/housekeeping

#934 Add `session_not_on_or_after_duration` to SAML applications
  .changelog/934.txt
  docs/data-sources/application.md
  docs/resources/application.md
  internal/service/sso/data_source_application.go
  internal/service/sso/data_source_application_test.go
  internal/service/sso/resource_application.go
  internal/service/sso/resource_application_test.go
  internal/service/sso/utils_application.go
Labels: type/enhancement, service/sso

#935 `pingone_mfa_device_policy`: Add `[email|sms|voice].otp.otp_length` field to allow admins to specify the length of the OTP displayed to users
  .changelog/935.txt
  docs/resources/mfa_device_policy.md
  internal/service/mfa/resource_mfa_device_policy.go
  internal/service/mfa/resource_mfa_device_policy_test.go
Labels: type/enhancement, service/mfa

#937 Bump go modules 18 Nov 2024
  .changelog/937.txt
  go.mod
  go.sum
Labels: dependencies, go

#938 `resource/pingone_risk_predictor`: Add the `predictor_device.should_validate_payload_signature` field
  .changelog/938.txt
  docs/resources/risk_predictor.md
  internal/service/risk/resource_risk_predictor.go
  internal/service/risk/resource_risk_predictor_test.go
Labels: type/enhancement, service/protect

#940 mfa device policy resource - fido bug fix
  .changelog/940.txt
  internal/service/mfa/resource_mfa_device_policy.go
  internal/service/mfa/resource_mfa_device_policy_test.go
Labels: type/bug, service/mfa
