Repository pingidentity/terraform-provider-pingone, pull requests merged in 2024-08, with the labels that each got.

#901 Bump go modules 2024-08-02
  .changelog/901.txt
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, go

#888 Support new provider, retry and fail_expired_id properties in verify_policy configuration.
  .changelog/888.txt
  docs/data-sources/verify_policy.md
  docs/resources/verify_policy.md
  examples/resources/pingone_verify_policy/resource.tf
  internal/service/verify/data_source_verify_policy.go
  internal/service/verify/data_source_verify_policy_test.go
  internal/service/verify/resource_verify_policy.go
  internal/service/verify/resource_verify_policy_test.go
Labels: service/verify, size/medium

#902 MFA APNS Correct acceptance test data
  .github/workflows/acceptance-test-multi-region.yml
  .github/workflows/acceptance-test-multi-version.yml
  docs/resources/mfa_application_push_credential.md
  internal/acctest/acctest.go
  internal/service/mfa/resource_application_push_credential.go
  internal/service/mfa/resource_application_push_credential_test.go
Labels: service/mfa, testing

#906 `resource/pingone_population_default`: Suppress warning on creation where the default population for an environment cannot be found
  .changelog/906.txt
  internal/service/sso/resource_population_default.go
Labels: service/sso, type/housekeeping

#907 `resource/pingone_environment`: Align example HCL with best practice on creating blank/empty DaVinci service environments
  .changelog/907.txt
  docs/resources/environment.md
  examples/resources/pingone_environment/resource.tf
Labels: documentation, service/base

#908 Bump modules 2024-08-28
  .changelog/908.txt
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, go

#909 Correct credential issuer not found test
  internal/service/credentials/data_source_credential_issuer_profile_test.go
Labels: service/credentials, testing, type/housekeeping
