Repository pingidentity/terraform-provider-pingone, pull requests merged in 2024-05, with the labels that each got.

#801 Migrate `pingone_password_policy` to plugin framework
  .changelog/801.txt
  docs/data-sources/password_policy.md
  docs/guides/version-1-upgrade.md
  docs/resources/password_policy.md
  examples/resources/pingone_password_policy/resource.tf
  internal/framework/schema_attribute_description.go
  internal/provider/sdkv2/provider.go
  internal/service/sso/data_source_password_policy.go
  internal/service/sso/data_source_password_policy_test.go
  internal/service/sso/resource_password_policy.go
  internal/service/sso/resource_password_policy_test.go
  internal/service/sso/service.go
  templates/guides/version-1-upgrade.md
Labels: service/sso, type/housekeeping, breaking change

#802 `data-source/pingone_trusted_email_domain_dkim`: Migrated to plugin framework
  .changelog/802.txt
  docs/data-sources/trusted_email_domain_dkim.md
  docs/guides/version-1-upgrade.md
  internal/provider/sdkv2/provider.go
  internal/service/base/data_source_trusted_email_domain_dkim.go
  internal/service/base/data_source_trusted_email_domain_dkim_test.go
  internal/service/base/service.go
  templates/guides/version-1-upgrade.md
Labels: service/base, type/housekeeping, breaking change

#803 `data-source/pingone_trusted_email_domain_ownership`: Migrated to plugin framework
  .changelog/803.txt
  docs/data-sources/trusted_email_domain_ownership.md
  docs/guides/version-1-upgrade.md
  internal/provider/sdkv2/provider.go
  internal/service/base/data_source_trusted_email_domain_ownership.go
  internal/service/base/data_source_trusted_email_domain_ownership_test.go
  internal/service/base/service.go
  templates/guides/version-1-upgrade.md
Labels: type/housekeeping, breaking change

#810 bump go modules 2024-05-10
  .changelog/810.txt
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, go

#804 Support `management.mode` add `metadata.fields.required` properties in `credential_type`.
  .changelog/804.txt
  docs/data-sources/credential_type.md
  docs/resources/credential_type.md
  internal/service/credentials/data_source_credential_issuance_rule.go
  internal/service/credentials/data_source_credential_type.go
  internal/service/credentials/data_source_credential_type_test.go
  internal/service/credentials/resource_credential_issuance_rule.go
  internal/service/credentials/resource_credential_issuance_rule_test.go
  internal/service/credentials/resource_credential_type.go
  internal/service/credentials/resource_credential_type_test.go
Labels: type/enhancement, service/credentials, size/medium

#818 New resource: `pingone_application_resource`
  .changelog/818.txt
  docs/resources/application_resource.md
  examples/resources/pingone_application_resource/import.sh
  examples/resources/pingone_application_resource/resource.tf
  internal/acctest/service/sso/application_resource.go
  internal/service/sso/resource_application_resource.go
  internal/service/sso/resource_application_resource_test.go
  internal/service/sso/service.go
  internal/service/sso/utils_resource.go
  templates/resources/application_resource.md.tmpl
Labels: type/enhancement, service/sso, status/blocked/upstream-sdk

#821 draft `pingone_authorize_application_role_permission` resource
  .changelog/821.txt
  examples/resources/pingone_authorize_application_role_permission/import.sh
  examples/resources/pingone_authorize_application_role_permission/resource.tf
  internal/acctest/service/authorize/application_role_permission.go
  internal/service/authorize/resource_application_role_permission.go
  internal/service/authorize/resource_application_role_permission_test.go
  templates/resources/authorize_application_role_permission.md.tmpl
Labels: type/enhancement

#817 New resource: `pingone_authorize_application_role`
  .changelog/817.txt
  .changelog/821.txt
  docs/resources/authorize_application_role.md
  examples/resources/pingone_authorize_application_role/import.sh
  examples/resources/pingone_authorize_application_role/resource.tf
  examples/resources/pingone_authorize_application_role_permission/import.sh
  examples/resources/pingone_authorize_application_role_permission/resource.tf
  internal/acctest/service/authorize/application_role.go
  internal/acctest/service/authorize/application_role_permission.go
  internal/service/authorize/resource_application_role.go
  internal/service/authorize/resource_application_role_permission.go
  internal/service/authorize/resource_application_role_permission_test.go
  internal/service/authorize/resource_application_role_test.go
  internal/service/authorize/service.go
  templates/resources/authorize_application_role.md.tmpl
  templates/resources/authorize_application_role_permission.md.tmpl
Labels: type/enhancement, service/authorize, status/blocked/upstream-sdk

#819 Updates to the `pingone_resource` resource and data source
  .changelog/819.txt
  docs/data-sources/resource.md
  docs/data-sources/resource_secret.md
  docs/resources/resource.md
  docs/resources/resource_secret.md
  examples/data-sources/pingone_resource_secret/data-source.tf
  examples/resources/pingone_resource_secret/import.sh
  examples/resources/pingone_resource_secret/resource.tf
  internal/acctest/service/sso/resource_secret.go
  internal/framework/stringvalidator/should_not_contain.go
  internal/provider/sdkv2/provider.go
  internal/service/sso/data_source_resource.go
  internal/service/sso/data_source_resource_secret.go
  internal/service/sso/data_source_resource_secret_test.go
  internal/service/sso/data_source_resource_test.go
  internal/service/sso/resource_resource.go
  internal/service/sso/resource_resource_secret.go
  internal/service/sso/resource_resource_secret_test.go
  internal/service/sso/resource_resource_test.go
  internal/service/sso/service.go
  internal/service/sso/utils_resource_secret.go
  templates/data-sources/resource_secret.md.tmpl
  templates/guides/version-1-upgrade.md
  templates/resources/resource_secret.md.tmpl
Labels: type/enhancement, service/sso, status/blocked/upstream-sdk, breaking change
