Repository pingidentity/terraform-provider-pingone, pull requests merged in 2025-01, with the labels that each got.

#954 Update golang.org/x/net from v0.31.0 to v0.33.0
  .changelog/954.txt
  go.mod
  go.sum
  go.work.sum
  tools/go.mod
  tools/go.sum
Labels: dependencies, go

#967 Fixed the handling of otp default values in the email and phone property objects when verify set to DISABLED.
  .changelog/967.txt
  internal/service/verify/resource_verify_policy.go
  internal/service/verify/resource_verify_policy_test.go
Labels: type/bug, service/verify, size/small

#965 pingone_custom_role resource and data sources
  .changelog/965.txt
  docs/data-sources/custom_role.md
  docs/data-sources/custom_roles.md
  docs/resources/custom_role.md
  examples/data-sources/pingone_custom_role/data-source.tf
  examples/data-sources/pingone_custom_roles/data-source.tf
  examples/resources/pingone_custom_role/import.sh
  examples/resources/pingone_custom_role/resource.tf
  go.work.sum
  internal/acctest/service/sso/custom_role.go
  internal/framework/resource.go
  internal/framework/schema_common.go
  internal/service/sso/data_source_custom_role.go
  internal/service/sso/data_source_custom_role_test.go
  internal/service/sso/data_source_custom_roles.go
  internal/service/sso/data_source_custom_roles_test.go
  internal/service/sso/data_source_populations.go
  internal/service/sso/resource_custom_role_gen.go
  internal/service/sso/resource_custom_role_test.go
  internal/service/sso/service.go
  templates/data-sources/custom_role.md.tmpl
  templates/data-sources/custom_roles.md.tmpl
  templates/resources/custom_role.md.tmpl
Labels: type/enhancement, service/sso
